<a href="https://colab.research.google.com/github/clferreira1985/Projetos_Python/blob/main/Renova/Desafio_Tecnico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio Técnica

**Contexto:** . Temos dois conjuntos de dados, um com o resultado e outros com o eleitores. O Objetivo do presente desafio é fazer um tratamento nos dados responder algumas perguntas como:

1º Fazer tratamento em alguns registros que estão gramaticalmente incorretos;
2º Criar um tabela para cada base de dados (eleitorado e resultados);
3º Gerar uma consulta realizando um **JOIN** entre as tabelas, retornando algumas informações como:


      *   Em qual município o candidato X foi mais votado;
      *   Qual o Candidato foi mais votado em cada município;
      *   Qual o perfil do eleitorado (faixa etária, gênero, grau de escolaridade, etc.) mais votou em cada candidato.
       

**Estrutura:** O notebook está dividido assim:

1. Importação das bibliotecas
2. Acesso e tratamento dos dados que serão a entrada do modelo de deep learning
3. Separação do dados de Treino e teste
4. Configuração do modelo de deep learning usando uma rede neural convolucional (CNN) simples com Keras
5. Treinamento do modelo de deep learning
6. Execução do modelo de deep learning treinado
7. Avaliação do modelo de deep learning
8. Exportação do modelo de deep learning
9. Teste do modelo exportado

**Créditos:** O notebook foi desenvolvido e documentado por:

- Cleiton Silva

**Dataset:** O dataset foi baixado do Kaggle, uma plataforma online voltada para cientistas de dados, entusiastas de aprendizado de máquina e profissionais afins. O uso é estritamente didático. Para mais informações sobre o dataset, veja o link a seguir: [animal10](https://www.kaggle.com/datasets/viratkothari/animal10).

##1. Importação das bibliotecas

In [1]:
import gdown
from zipfile import ZipFile
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt

##2. Acesso e tratamento dos dados

In [2]:
#download do dataset
file_id = "1QqKoXpnx16eRqCHUn72fR_qT4yBXpQ8T"
folder_path = f"https://drive.google.com/uc?id={file_id}"
output = "database_desfio_renovaBR.zip"
gdown.download(folder_path, output)

Downloading...
From: https://drive.google.com/uc?id=1QqKoXpnx16eRqCHUn72fR_qT4yBXpQ8T
To: /content/database_desfio_renovaBR.zip
100%|██████████| 234M/234M [00:01<00:00, 132MB/s]

'database_desfio_renovaBR.zip'

In [3]:
#Extraindo o dataset do zip
with ZipFile('database_desfio_renovaBR.zip', 'r') as zip_object:
  zip_object.extractall()

In [4]:
# Ler o arquivo CSV até a linha 3779751 acima dessa linha está corrompido as linhas
n_linhas = 3779751
df_resultados = pd.read_csv("/content/resultados/SP_turno_1.csv", encoding='latin1', sep=';', nrows=n_linhas)

# Mostrar o DataFrame
df_resultados.head(2)

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,CD_PLEITO,DT_PLEITO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,...,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,QT_ELEITORES_BIOMETRIA_NH,DT_EMISSAO_BU,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
0,18/11/2020,15:49:53,2020,0,Eleição Ordinária,304,15/11/2020,1,426,Eleições Municipais 2020,...,E0BA7264,03/11/2020 11:19:00,11 - 1,#NULO#,15/11/2020 07:00:00,15/11/2020 17:02:46,0,15/11/2020 17:04:06,-1,-1
1,18/11/2020,15:49:53,2020,0,Eleição Ordinária,304,15/11/2020,1,426,Eleições Municipais 2020,...,E0BA7264,03/11/2020 11:19:00,11 - 1,#NULO#,15/11/2020 07:00:00,15/11/2020 17:02:46,0,15/11/2020 17:04:06,-1,-1
2,18/11/2020,15:49:53,2020,0,Eleição Ordinária,304,15/11/2020,1,426,Eleições Municipais 2020,...,E0BA7264,03/11/2020 11:19:00,11 - 1,#NULO#,15/11/2020 07:00:00,15/11/2020 17:02:46,0,15/11/2020 17:04:06,-1,-1
3,18/11/2020,15:49:53,2020,0,Eleição Ordinária,304,15/11/2020,1,426,Eleições Municipais 2020,...,E0BA7264,03/11/2020 11:19:00,11 - 1,#NULO#,15/11/2020 07:00:00,15/11/2020 17:02:46,0,15/11/2020 17:04:06,-1,-1
4,18/11/2020,15:49:53,2020,0,Eleição Ordinária,304,15/11/2020,1,426,Eleições Municipais 2020,...,E0BA7264,03/11/2020 11:19:00,11 - 1,#NULO#,15/11/2020 07:00:00,15/11/2020 17:02:46,0,15/11/2020 17:04:06,-1,-1

In [5]:

df_eleitorado = pd.read_csv('/content/eleitorado/perfil_eleitorado_2020/perfil_eleitorado_2020.csv',encoding='latin1', sep=';')

# Mostrar o DataFrame
df_eleitorado.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,CD_MUN_SIT_BIOMETRIA,DS_MUN_SIT_BIOMETRIA,NR_ZONA,CD_GENERO,...,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,...,3,CASADO,7074,70 a 74 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,47,37,1,0
1,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,...,3,CASADO,7074,70 a 74 anos,4,ENSINO FUNDAMENTAL COMPLETO,5,4,0,0
2,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,...,3,CASADO,7074,70 a 74 anos,5,ENSINO MÉDIO INCOMPLETO,1,1,0,0
3,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,...,3,CASADO,7074,70 a 74 anos,6,ENSINO MÉDIO COMPLETO,10,8,0,0
4,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,...,3,CASADO,7074,70 a 74 anos,8,SUPERIOR COMPLETO,23,18,0,0

## 3. Analise exploratória

In [6]:
#Crio um resumo do dataset resultados

print("Tamanho do dataset: ", df_resultados.shape)
print("_______________________________________")
print("Valores null: ")
print(df_resultados.isnull().sum())
print("_______________________________________")
print("Valores únicos: ")
print(df_resultados.nunique())

print("_______________________________________")
print("Informação do dataset: ")
print(df_resultados.info())

Tamanho do dataset:  (3779751, 45)
_______________________________________
Valores null:
DT_GERACAO                       0
HH_GERACAO                       0
ANO_ELEICAO                      0
CD_TIPO_ELEICAO                  0
NM_TIPO_ELEICAO                  0
CD_PLEITO                        0
DT_PLEITO                        0
NR_TURNO                         0
CD_ELEICAO                       0
DS_ELEICAO                       0
SG_UF                            0
CD_MUNICIPIO                     0
NM_MUNICIPIO                     0
NR_ZONA                          0
NR_SECAO                         0
NR_LOCAL_VOTACAO                 0
CD_CARGO_PERGUNTA                0
DS_CARGO_PERGUNTA                0
NR_PARTIDO                       0
SG_PARTIDO                       0
NM_PARTIDO                       0
DT_BU_RECEBIDO                   0
QT_APTOS                         0
QT_COMPARECIMENTO                0
QT_ABSTENCOES                    0
CD_TIPO_URNA                     0
DS_TIPO_URNA                     0
CD_TIPO_VOTAVEL                  0
DS_TIPO_VOTAVEL                  0
NR_VOTAVEL                       0
NM_VOTAVEL                      13
QT_VOTOS                         0
NR_URNA_EFETIVADA                0
CD_CARGA_1_URNA_EFETIVADA        0
CD_CARGA_2_URNA_EFETIVADA        0
CD_FLASHCARD_URNA_EFETIVADA      0
DT_CARGA_URNA_EFETIVADA          0
DS_CARGO_PERGUNTA_SECAO          0
DS_AGREGADAS                     0
DT_ABERTURA                    129
DT_ENCERRAMENTO                129
QT_ELEITORES_BIOMETRIA_NH        0
DT_EMISSAO_BU                    0
NR_JUNTA_APURADORA               0
NR_TURMA_APURADORA               0
dtype: int64
_______________________________________
Valores únicos:
DT_GERACAO                         1
HH_GERACAO                         1
ANO_ELEICAO                        1
CD_TIPO_ELEICAO                    1
NM_TIPO_ELEICAO                    1
CD_PLEITO                          1
DT_PLEITO                          1
NR_TURNO                           1
CD_ELEICAO                         1
DS_ELEICAO                         1
SG_UF                              1
CD_MUNICIPIO                     539
NM_MUNICIPIO                     539
NR_ZONA                          228
NR_SECAO                         728
NR_LOCAL_VOTACAO                 154
CD_CARGO_PERGUNTA                  2
DS_CARGO_PERGUNTA                  2
NR_PARTIDO                        34
SG_PARTIDO                        34
NM_PARTIDO                        34
DT_BU_RECEBIDO                 12091
QT_APTOS                         431
QT_COMPARECIMENTO                382
QT_ABSTENCOES                    246
CD_TIPO_URNA                       1
DS_TIPO_URNA                       1
CD_TIPO_VOTAVEL                    4
DS_TIPO_VOTAVEL                    4
NR_VOTAVEL                     10039
NM_VOTAVEL                     64183
QT_VOTOS                         299
NR_URNA_EFETIVADA              37595
CD_CARGA_1_URNA_EFETIVADA      37595
CD_CARGA_2_URNA_EFETIVADA      36900
CD_FLASHCARD_URNA_EFETIVADA     2057
DT_CARGA_URNA_EFETIVADA         7807
DS_CARGO_PERGUNTA_SECAO         1456
DS_AGREGADAS                     483
DT_ABERTURA                     1075
DT_ENCERRAMENTO                 1110
QT_ELEITORES_BIOMETRIA_NH          1
DT_EMISSAO_BU                   1305
NR_JUNTA_APURADORA                 2
NR_TURMA_APURADORA                 2
dtype: int64
_______________________________________
Informação do dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3779751 entries, 0 to 3779750
Data columns (total 45 columns):
 #   Column                       Dtype
---  ------                       -----
 0   DT_GERACAO                   object
 1   HH_GERACAO                   object
 2   ANO_ELEICAO                  int64
 3   CD_TIPO_ELEICAO              int64
 4   NM_TIPO_ELEICAO              object
 5   CD_PLEITO                    int64
 6   DT_PLEITO                    object
 7   NR_TURNO                     int64
 8   CD_ELEICAO                   int64
 9   DS_ELEICAO                   object
 10  SG_UF                        object
 11  CD_MUNICIPIO                 int64
 12  NM_MUNICIPIO                 object
 13  NR_ZONA                      int64
 14  NR_SECAO                     int64
 15  NR_LOCAL_VOTACAO             int64
 16  CD_CARGO_PERGUNTA            int64
 17  DS_CARGO_PERGUNTA            object
 18  NR_PARTIDO                   int64
 19  SG_PARTIDO                   object
 20  NM_PARTIDO                   object
 21  DT_BU_RECEBIDO               object
 22  QT_APTOS                     int64
 23  QT_COMPARECIMENTO            int64
 24  QT_ABSTENCOES                int64
 25  CD_TIPO_URNA                 int64
 26  DS_TIPO_URNA                 object
 27  CD_TIPO_VOTAVEL              int64
 28  DS_TIPO_VOTAVEL              object
 29  NR_VOTAVEL                   int64
 30  NM_VOTAVEL                   object
 31  QT_VOTOS                     int64
 32  NR_URNA_EFETIVADA            int64
 33  CD_CARGA_1_URNA_EFETIVADA    object
 34  CD_CARGA_2_URNA_EFETIVADA    float64
 35  CD_FLASHCARD_URNA_EFETIVADA  object
 36  DT_CARGA_URNA_EFETIVADA      object
 37  DS_CARGO_PERGUNTA_SECAO      object
 38  DS_AGREGADAS                 object
 39  DT_ABERTURA                  object
 40  DT_ENCERRAMENTO              object
 41  QT_ELEITORES_BIOMETRIA_NH    int64
 42  DT_EMISSAO_BU                object
 43  NR_JUNTA_APURADORA           int64
 44  NR_TURMA_APURADORA           int64
dtypes: float64(1), int64(22), object(22)
memory usage: 1.3+ GB
None

DT_ENCERRAMENTO e DT_ABERTURA precisam ser alterado para datetime

In [7]:
colunas_selecionadas = ["DT_ENCERRAMENTO", "DT_ABERTURA", "DT_EMISSAO_BU", "DT_BU_RECEBIDO", "DT_CARGA_URNA_EFETIVADA"]
df_resultados_selecionado = df_resultados[colunas_selecionadas]

# Mostrar o DataFrame resultante
df_resultados_selecionado

,DT_ENCERRAMENTO,DT_ABERTURA,DT_EMISSAO_BU,DT_BU_RECEBIDO,DT_CARGA_URNA_EFETIVADA
0,15/11/2020 17:02:46,15/11/2020 07:00:00,15/11/2020 17:04:06,15/11/2020 22:26:42,03/11/2020 11:19:00
1,15/11/2020 17:02:46,15/11/2020 07:00:00,15/11/2020 17:04:06,15/11/2020 22:26:42,03/11/2020 11:19:00
2,15/11/2020 17:02:46,15/11/2020 07:00:00,15/11/2020 17:04:06,15/11/2020 22:26:42,03/11/2020 11:19:00
3,15/11/2020 17:02:46,15/11/2020 07:00:00,15/11/2020 17:04:06,15/11/2020 22:26:42,03/11/2020 11:19:00
4,15/11/2020 17:02:46,15/11/2020 07:00:00,15/11/2020 17:04:06,15/11/2020 22:26:42,03/11/2020 11:19:00
...,...,...,...,...,...
3779746,15/11/2020 17:04:09,15/11/2020 07:00:00,15/11/2020 17:05:44,15/11/2020 22:47:17,03/11/2020 15:38:00
3779747,15/11/2020 17:04:09,15/11/2020 07:00:00,15/11/2020 17:05:44,15/11/2020 22:47:17,03/11/2020 15:38:00
3779748,15/11/2020 17:04:09,15/11/2020 07:00:00,15/11/2020 17:05:44,15/11/2020 22:47:17,03/11/2020 15:38:00
3779749,15/11/2020 17:04:09,15/11/2020 07:00:00,15/11/2020 17:05:44,15/11/2020 22:47:17,03/11/2020 15:38:00
3779750,15/11/2020 17:04:09,15/11/2020 07:00:00,15/11/2020 17:05:44,15/11/2020 22:47:17,03/11/2020 15:38:00

In [8]:
for x in df_resultados[colunas_selecionadas]:
    df_resultados[x] = pd.to_datetime(df_resultados[x], format='%d/%m/%Y %H:%M:%S')
    df_resultados_selecionado = df_resultados[colunas_selecionadas]
df_resultados_selecionado

,DT_ENCERRAMENTO,DT_ABERTURA,DT_EMISSAO_BU,DT_BU_RECEBIDO,DT_CARGA_URNA_EFETIVADA
0,2020-11-15 17:02:46,2020-11-15 07:00:00,2020-11-15 17:04:06,2020-11-15 22:26:42,2020-11-03 11:19:00
1,2020-11-15 17:02:46,2020-11-15 07:00:00,2020-11-15 17:04:06,2020-11-15 22:26:42,2020-11-03 11:19:00
2,2020-11-15 17:02:46,2020-11-15 07:00:00,2020-11-15 17:04:06,2020-11-15 22:26:42,2020-11-03 11:19:00
3,2020-11-15 17:02:46,2020-11-15 07:00:00,2020-11-15 17:04:06,2020-11-15 22:26:42,2020-11-03 11:19:00
4,2020-11-15 17:02:46,2020-11-15 07:00:00,2020-11-15 17:04:06,2020-11-15 22:26:42,2020-11-03 11:19:00
...,...,...,...,...,...
3779746,2020-11-15 17:04:09,2020-11-15 07:00:00,2020-11-15 17:05:44,2020-11-15 22:47:17,2020-11-03 15:38:00
3779747,2020-11-15 17:04:09,2020-11-15 07:00:00,2020-11-15 17:05:44,2020-11-15 22:47:17,2020-11-03 15:38:00
3779748,2020-11-15 17:04:09,2020-11-15 07:00:00,2020-11-15 17:05:44,2020-11-15 22:47:17,2020-11-03 15:38:00
3779749,2020-11-15 17:04:09,2020-11-15 07:00:00,2020-11-15 17:05:44,2020-11-15 22:47:17,2020-11-03 15:38:00
3779750,2020-11-15 17:04:09,2020-11-15 07:00:00,2020-11-15 17:05:44,2020-11-15 22:47:17,2020-11-03 15:38:00

Identificada as colunas que só tem uma única, retiro do meu dataset

In [9]:
col_unique_value = ["DT_GERACAO",
                    "HH_GERACAO",
                    "ANO_ELEICAO",
                    "CD_TIPO_ELEICAO",
                    "CD_TIPO_ELEICAO",
                    "NM_TIPO_ELEICAO",
                    "CD_PLEITO",
                    "DT_PLEITO",
                    "NR_TURNO",
                    "CD_ELEICAO",
                    "DS_ELEICAO",
                    "SG_UF",
                    "CD_TIPO_URNA",
                    "DS_TIPO_URNA",
                    "QT_ELEITORES_BIOMETRIA_NH"]



df_col_unique_value = df_resultados[col_unique_value]

# Mostrar o DataFrame resultante
df_resultados = df_resultados.drop(columns=df_col_unique_value)
df_resultados.head()

,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,CD_CARGO_PERGUNTA,DS_CARGO_PERGUNTA,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,...,CD_CARGA_2_URNA_EFETIVADA,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,DT_EMISSAO_BU,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
0,71072,SÃO PAULO,1,1,1015,11,Prefeito,-1,#NULO#,#NULO#,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
1,71072,SÃO PAULO,1,1,1015,11,Prefeito,13,PT,Partido dos Trabalhadores,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
2,71072,SÃO PAULO,1,1,1015,11,Prefeito,18,REDE,Rede Sustentabilidade,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
3,71072,SÃO PAULO,1,1,1015,11,Prefeito,40,PSB,Partido Socialista Brasileiro,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
4,71072,SÃO PAULO,1,1,1015,11,Prefeito,45,PSDB,Partido da Social Democracia Brasileira,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1

In [10]:
df_resultados_categoricos = df_resultados.select_dtypes(include=['object'])

#print todos os valores categorios para dar uma conferida
for column_name in df_resultados_categoricos.columns:
    unique_values = df_resultados_categoricos[column_name].unique()
    print(f"______{column_name}_____")
    print(unique_values)
    print("")
    print("")

______NM_MUNICIPIO_____
['SÃO PAULO' 'AGUDOS' 'PAULISTÂNIA' 'AMPARO' 'MONTE ALEGRE DO SUL'
 'ANDRADINA' 'CASTILHO' 'MURUTINGA DO SUL' 'NOVA INDEPENDÊNCIA' 'APIAÍ'
 'BARRA DO CHAPÉU' 'ITAOCA' 'RIBEIRA' 'ITAPIRAPUÃ PAULISTA' 'ARAÇATUBA'
 'BORÁ' 'LUTÉCIA' 'OSCAR BRESSANE' 'PARAGUAÇU PAULISTA' 'ARARAQUARA'
 'GAVIÃO PEIXOTO' 'NOVA EUROPA' 'ARARAS' 'ASSIS' 'ECHAPORÃ' 'ATIBAIA'
 'BOM JESUS DOS PERDÕES' 'JARINU' 'NAZARÉ PAULISTA' 'AVARÉ' 'BANANAL'
 'ARAPEÍ' 'SÃO JOSÉ DO BARREIRO' 'BARIRI' 'ITAJU' 'BARRETOS' 'COLÔMBIA'
 'BATATAIS' 'BAURU' 'PIRATININGA' 'BEBEDOURO' 'BIRIGUI' 'CLEMENTINA'
 'COROADOS' 'BREJO ALEGRE' 'SANTÓPOLIS DO AGUAPEÍ' 'BOTUCATU' 'ITATINGA'
 'PARDINHO' 'BRAGANÇA PAULISTA' 'BROTAS' 'TORRINHA' 'CAÇAPAVA' 'JAMBEIRO'
 'CACONDE' 'TAPIRATIBA' 'CAFELÂNDIA' 'GUARANTÃ' 'JÚLIO MESQUITA' 'CAJURU'
 'SANTA CRUZ DA ESPERANÇA' 'CÁSSIA DOS COQUEIROS' 'CAMPINAS' 'VALINHOS'
 'CAMPOS DO JORDÃO' 'CANANÉIA' 'CAPÃO BONITO' 'RIBEIRÃO GRANDE' 'GUAPIARA'
 'CAPIVARI' 'MOMBUCA' 'RAFARD' 'CASA BRANCA' 'ITOBI'
 'SANTA CRUZ DAS PALMEIRAS' 'CATANDUVA' 'ELISIÁRIO' 'ANHEMBI' 'BOFETE'
 'CONCHAS' 'PEREIRAS' 'CRUZEIRO' 'LAVRINHAS' 'QUELUZ' 'AREIAS' 'CUNHA'
 'DESCALVADO' 'FRANCA' 'ITIRAPUÃ' 'PATROCÍNIO PAULISTA'
 'ÁLVARO DE CARVALHO' 'ALVINLÂNDIA' 'GÁLIA' 'FERNÃO' 'GARÇA'
 'GUARATINGUETÁ' 'IACANGA' 'IBITINGA' 'TABATINGA' 'ARAMINA' 'BURITIZAL'
 'IGARAPAVA' 'IGUAPE' 'ILHA COMPRIDA' 'ITAPETININGA' 'ALAMBARI' 'SARAPUÍ'
 'BURI' 'ITABERÁ' 'ITAPEVA' 'NOVA CAMPINA' 'RIBEIRÃO BRANCO' 'TAQUARIVAÍ'
 'ITAPIRA' 'BORBOREMA' 'ITÁPOLIS' 'BARÃO DE ANTONINA' 'ITAPORANGA'
 'RIVERSUL' 'ITARARÉ' 'BOM SUCESSO DE ITARARÉ' 'ITATIBA' 'MORUNGABA'
 'CABREÚVA' 'ITU' 'ITUVERAVA' 'GUARÁ' 'JABOTICABAL' 'TAIAÇU' 'TAIÚVA'
 'JACAREÍ' 'JAÚ' 'ADOLFO' 'JOSÉ BONIFÁCIO' 'UBARANA' 'MENDONÇA' 'JUNDIAÍ'
 'ITUPEVA' 'LIMEIRA' 'LINS' 'LORENA' 'CANAS' 'PIQUETE' 'INÚBIA PAULISTA'
 'LUCÉLIA' 'PRACINHA' 'SALMOURÃO' 'MARÍLIA' 'INDIANA' 'MARTINÓPOLIS'
 'BÁLSAMO' 'JACI' 'MIRASSOL' 'MIRASSOLÂNDIA' 'NEVES PAULISTA' 'MOCOCA'
 'MOGI DAS CRUZES' 'ARTUR NOGUEIRA' 'ENGENHEIRO COELHO' 'CONCHAL'
 'MOGI MIRIM' 'HOLAMBRA' 'MONTE ALTO' 'PIRANGI' 'VISTA ALEGRE DO ALTO'
 'MACAUBAL' 'MONTE APRAZÍVEL' 'NIPOÃ' 'POLONI' 'SEBASTIANÓPOLIS DO SUL'
 'UNIÃO PAULISTA' 'ICÉM' 'NOVA GRANADA' 'ONDA VERDE' 'ITAJOBI' 'MARAPOAMA'
 'NOVO HORIZONTE' 'ALTAIR' 'GUARACI' 'OLÍMPIA' 'SEVERÍNIA' 'ORLÂNDIA'
 'NUPORANGA' 'SALES OLIVEIRA' 'OURINHOS' 'CAMPOS NOVOS PAULISTA'
 'IBIRAREMA' 'PALMITAL' 'PLATINA' 'NATIVIDADE DA SERRA' 'PARAIBUNA'
 'BORACÉIA' 'MACATUBA' 'PEDERNEIRAS' 'PENÁPOLIS' 'PEREIRA BARRETO'
 'SUZANÁPOLIS' 'SUD MENNUCCI' 'PIEDADE' 'PILAR DO SUL' 'TAPIRAÍ'
 'PINDAMONHANGABA' 'ESPÍRITO SANTO DO PINHAL' 'SANTO ANTÔNIO DO JARDIM'
 'JOANÓPOLIS' 'PIRACAIA' 'PIRACICABA' 'MANDURI' 'ÓLEO' 'PIRAJU' 'TEJUPÁ'
 'TIMBURI' 'BALBINOS' 'PIRAJUÍ' 'PONGAÍ' 'PRESIDENTE ALVES' 'REGINÓPOLIS'
 'URU' 'PIRASSUNUNGA' 'PITANGUEIRAS' 'TAQUARAL' 'VIRADOURO' 'POMPÉIA'
 'QUEIROZ' 'QUINTANA' 'PORTO FELIZ' 'PRESIDENTE PRUDENTE' 'CAIUÁ'
 'MARABÁ PAULISTA' 'PRESIDENTE VENCESLAU' 'PROMISSÃO' 'IEPÊ' 'NANTES'
 'RANCHARIA' 'QUATÁ' 'JOÃO RAMALHO' 'BOA ESPERANÇA DO SUL' 'TRABIJU'
 'DOURADO' 'RIBEIRÃO BONITO' 'RIBEIRÃO PRETO' 'SERRANA' 'SERRA AZUL'
 'RIO CLARO' 'ARIRANHA' 'PALMARES PAULISTA' 'SANTA ADÉLIA' 'PINDORAMA'
 'SALESÓPOLIS' 'SANTA BRANCA' 'BERNARDINO DE CAMPOS' 'IPAUSSU'
 'SANTA CRUZ DO RIO PARDO' 'ESPÍRITO SANTO DO TURVO' 'SÃO PEDRO DO TURVO'
 'IGARATÁ' 'SANTA ISABEL' 'SANTA RITA DO PASSA QUATRO' 'TAMBAÚ'
 'PIQUEROBI' 'SANTO ANASTÁCIO' 'RIBEIRÃO DOS ÍNDIOS' 'SANTOS' 'CUBATÃO'
 'SÃO CARLOS' 'ÁGUAS DA PRATA' 'SÃO JOÃO DA BOA VISTA' 'AGUAÍ' 'IPUÃ'
 'SÃO JOAQUIM DA BARRA' 'SÃO JOSÉ DO RIO PARDO' 'SÃO JOSÉ DO RIO PRETO'
 'BADY BASSITT' 'NOVA ALIANÇA' 'POTIRENDABA' 'SÃO JOSÉ DOS CAMPOS'
 'LAGOINHA' 'SÃO LUÍS DO PARAITINGA' 'REDENÇÃO DA SERRA' 'AREIÓPOLIS'
 'SÃO MANUEL' 'PRATÂNIA' 'ÁGUAS DE SÃO PEDRO' 'SANTA MARIA DA SERRA'
 'SÃO PEDRO' 'MAIRINQUE' 'ALUMÍNIO' 'SÃO ROQUE' 'ARAÇARIGUAMA' 'ILHABELA'
 'SÃO SEBASTIÃO' 'LUÍS ANTÔNIO' 'SÃO SIMÃO' 'SANTA ROSA DE VITERBO'
 'ÁGUAS DE LINDÓIA' 'LINDÓIA' 'SERRA NEGRA' 'BARRINHA' 'PONTAL'
 'SERTÃOZINHO' 'SOCORRO' 'PINHALZINHO' 'SOROCABA' 'AMÉRICO DE CAMPOS'
 'COSMORAMA' 'TANABI' 'CÂNDIDO RODRIGUES' 'FERNANDO PRESTES'
 'SANTA ERNESTINA' 'TAQUARITINGA' 'CAPELA DO ALTO' 'GUAREÍ' 'PORANGABA'
 'TORRE DE PEDRA' 'TATUÍ' 'TAUBATÉ' 'TIETÊ' 'JUMIRIM' 'LARANJAL PAULISTA'
 'TUPÃ' 'ARCO-ÍRIS' 'UBATUBA' 'CACHOEIRA PAULISTA' 'SILVEIRAS'
 'BENTO DE ABREU' 'VALPARAÍSO' 'LAVÍNIA' 'ÁLVARES FLORENCE'
 'VALENTIM GENTIL' 'PARISI' 'VOTUPORANGA' 'ELDORADO' 'IPORANGA' 'DRACENA'
 'OURO VERDE' 'FERNANDÓPOLIS' 'GUARARAPES' 'RUBIÁCEA' 'JALES' 'PONTALINDA'
 'DIRCE REIS' 'GUARAÇAÍ' 'MIRANDÓPOLIS' 'JERIQUARA' 'PEDREGULHO' 'RIFAINA'
 'SANTO ANDRÉ' 'ADAMANTINA' 'FLÓRIDA PAULISTA' 'MARIÁPOLIS' 'AMERICANA'
 'DUARTINA' 'LUCIANÓPOLIS' 'UBIRAJARA' 'CABRÁLIA PAULISTA'
 'LENÇÓIS PAULISTA' 'BOREBI' 'FLOREAL' 'GASTÃO VIDIGAL' 'MAGDA' 'MONÇÕES'
 'NHANDEARA' 'NOVA LUZITÂNIA' 'OSVALDO CRUZ' 'PARAPUÃ' 'SAGRES'
 'ORINDIÚVA' 'PAULO DE FARIA' 'RIOLÂNDIA' 'PRESIDENTE BERNARDES'
 'EMILIANÓPOLIS' 'MIRANTE DO PARANAPANEMA' 'SÃO CAETANO DO SUL' 'CAIABU'
 'REGENTE FEIJÓ' 'TACIBA' 'GUAÍRA' 'DOBRADA' 'MATÃO' 'MONTE AZUL PAULISTA'
 'PARAÍSO' 'EMBAÚBA' 'CAJOBI' 'REGISTRO' 'SETE BARRAS'
 'SÃO BERNARDO DO CAMPO' 'MONTE CASTELO' 'NOVA GUATAPORANGA' 'PANORAMA'
 'PAULICÉIA' 'SANTA MERCEDES' "SÃO JOÃO DO PAU D'ALHO" 'TUPI PAULISTA'
 'GUARULHOS' 'SÃO VICENTE' 'COLINA' 'JABORANDI' 'TERRA ROXA' 'CATIGUÁ'
 'IBIRÁ' 'TABAPUÃ' 'NOVAIS' 'OCAUÇU' 'ORIENTE' 'VERA CRUZ' 'LUPÉRCIO'
 'SUZANO' 'ALFREDO MARCONDES' 'ÁLVARES MACHADO' 'ANHUMAS' 'SANTO EXPEDITO'
 'RIBEIRÃO PIRES' 'BASTOS' 'HERCULÂNDIA' 'IACRI' "SANTA BÁRBARA D'OESTE"
 'RUBINÉIA' "SANTA CLARA D'OESTE" 'SANTA FÉ DO SUL'
 'SANTANA DA PONTE PENSA' "SANTA RITA D'OESTE" 'TRÊS FRONTEIRAS'
 'NOVA CANAÃ PAULISTA' 'LEME' 'SANTA CRUZ DA CONCEIÇÃO' 'ITANHAÉM'
 'MONGAGUÁ' 'APARECIDA' 'ROSEIRA' 'POTIM' 'IBIÚNA' 'CAIEIRAS'
 'FRANCO DA ROCHA' 'PORTO FERREIRA' 'PRESIDENTE EPITÁCIO' 'JUNQUEIRÓPOLIS'
 'FLORA RICA' 'PACAEMBU' 'IRAPURU' 'GUARIBA' 'PRADÓPOLIS' 'BARUERI'
 'BARRA BONITA' 'IGARAÇU DO TIETÊ' 'ITAPECERICA DA SERRA'
 'SÃO LOURENÇO DA SERRA' 'JUQUITIBA' 'ALTINÓPOLIS'
 'SANTO ANTÔNIO DA ALEGRIA' 'JARDINÓPOLIS' 'BRODOWSKI' 'CERQUEIRA CÉSAR'
 'ÁGUAS DE SANTA BÁRBARA' 'IARAS' 'CARAGUATATUBA' 'IRAPUÃ' 'SALES'
 'URUPÊS' 'MIGUELÓPOLIS' 'BILAC' 'GABRIEL MONTEIRO' 'PIACATU' 'RINÓPOLIS'
 'INDAIATUBA' 'GUARUJÁ' 'OSASCO' 'BURITAMA' 'PLANALTO' 'ZACARIAS'
 'TURIÚBA' 'LOURDES' 'ANGATUBA' 'CAMPINA DO MONTE ALEGRE' 'MOGI GUAÇU'
 'ESTIVA GERBI' 'MAUÁ' 'MIRACATU' 'POÁ' 'VOTORANTIM' 'SALTO' 'DIADEMA'
 'JUQUIÁ' 'CARDOSO' 'MIRA ESTRELA' 'PONTES GESTAL' 'PALESTINA' 'AURIFLAMA'
 'GUZOLÂNDIA' 'SÃO JOÃO DE IRACEMA' 'GENERAL SALGADO' 'NOVA CASTILHO'
 'CÂNDIDO MOTA' 'COTIA' 'BARRA DO TURVO' 'JACUPIRANGA' 'CAJATI'
 'PARIQUERA-AÇU' 'VARGEM GRANDE DO SUL' 'SÃO SEBASTIÃO DA GRAMA'
 'DIVINOLÂNDIA' 'SUMARÉ' "APARECIDA D'OESTE" 'MARINÓPOLIS'
 "PALMEIRA D'OESTE" 'SÃO FRANCISCO' 'DOLCINÓPOLIS' "ESTRELA D'OESTE"
 'POPULINA' 'SÃO JOÃO DAS DUAS PONTES' 'TURMALINA' 'VITÓRIA BRASIL'
 'FARTURA' 'TAGUAÍ' 'SARUTAIÁ' 'CORONEL MACEDO' 'TAQUARITUBA' 'MAIRIPORÃ'
 'AMÉRICO BRASILIENSE' 'RINCÃO' 'SANTA LÚCIA' 'MOTUCA' 'CRISTAIS PAULISTA'
 'RESTINGA' 'RIBEIRÃO CORRENTE' 'SÃO JOSÉ DA BELA VISTA' 'BOCAINA'
 'ITAPUÍ' 'MINEIROS DO TIETÊ' 'DOIS CÓRREGOS' 'VÁRZEA PAULISTA'
 'CORDEIRÓPOLIS' 'IRACEMÁPOLIS' 'SANTA GERTRUDES' 'CHARQUEADA'
 'RIO DAS PEDRAS' 'ANALÂNDIA' 'CORUMBATAÍ' 'IPEÚNA' 'ITIRAPINA']


______DS_CARGO_PERGUNTA_____
['Prefeito' 'Vereador']


______SG_PARTIDO_____
['#NULO#' 'PT' 'REDE' 'PSB' 'PSDB' 'PSL' 'PATRIOTA' 'REPUBLICANOS' 'PSOL'
 'PSD' 'NOVO' 'PMN' 'DEM' 'MDB' 'PP' 'PODE' 'PRTB' 'PROS' 'CIDADANIA'
 'PC do B' 'PV' 'PTB' 'PDT' 'PL' 'AVANTE' 'PSTU' 'PSC' 'PMB'
 'SOLIDARIEDADE' 'PTC' 'UP' 'DC' 'PCB' 'PCO']


______NM_PARTIDO_____
['#NULO#' 'Partido dos Trabalhadores' 'Rede Sustentabilidade'
 'Partido Socialista Brasileiro' 'Partido da Social Democracia Brasileira'
 'Partido Social Liberal' 'Patriota' 'REPUBLICANOS'
 'Partido Socialismo e Liberdade' 'Partido Social Democrático'
 'Partido Novo' 'Partido da Mobilização Nacional' 'Democratas'
 'Movimento Democrático Brasileiro' 'PROGRESSISTAS' 'Podemos'
 'Partido Renovador Trabalhista Brasileiro'
 'Partido Republicano da Ordem Social' 'Cidadania'
 'Partido Comunista do Brasil' 'Partido Verde'
 'Partido Trabalhista Brasileiro' 'Partido Democrático Trabalhista'
 'Partido Liberal' 'AVANTE'
 'Partido Socialista dos Trabalhadores Unificado' 'Partido Social Cristão'
 'Partido da Mulher Brasileira' 'Solidariedade'
 'Partido Trabalhista Cristão' 'Unidade Popular' 'Democracia Cristã'
 'Partido Comunista Brasileiro' 'Partido da Causa Operária']


______DS_TIPO_VOTAVEL_____
['Branco' 'Nominal' 'Nulo' 'Legenda']


______NM_VOTAVEL_____
['Branco' 'JILMAR TATTO' 'MARINA HELOU' ... 'SANDRA DO HOSPITAL'
 'LEILA NERES' 'PROFESSOR MUNHOZ']


______CD_CARGA_1_URNA_EFETIVADA_____
['432.454.548.163.181.015.' '755.686.970.595.452.959.'
 '886.999.217.408.538.007.' ... '998.011.036.600.830.581.'
 '866.798.014.587.581.776.' '048.516.308.005.341.526.']


______CD_FLASHCARD_URNA_EFETIVADA_____
['E0BA7264' '3075DFF0' 'C1D061B0' ... 'B1112A92' '304D2B07' '97441C17']


______DS_CARGO_PERGUNTA_SECAO_____
['11 - 1' '13 - 1' '11 - 2' ... '13 - 660' '11 - 662' '13 - 662']


______DS_AGREGADAS_____
['#NULO#' '100' '102' '104' '106' '108' '110' '112' '262' '264' '266'
 '268' '270' '272' '274' '276' '278' '280' '282' '284' '286' '288' '387'
 '303' '305' '307' '309' '311' '313' '316' '318' '320' '360' '323' '325'
 '327' '329' '366' '368' '381' '488' '418' '453' '83 / 96' '174' '149'
 '189' '176' '135' '132' '183' '98' '74 / 118' '75' '107' '254' '180' '15'
 '258' '239' '14' '20' '27' '238' '34' '29' '83' '89' '90' '84' '81' '88'
 '82' '79' '187' '234' '198' '4' '76' '22' '18' '227' '244' '263' '236'
 '405' '412' '384' '380' '379' '385' '395' '390' '389' '396' '51'
 '399 / 415' '164' '249' '301' '312' '269' '275' '422' '362' '367' '425'
 '103 / 143' '44' '46' '63' '128' '109' '111' '252' '220' '196' '290'
 '285' '66 / 113' '289' '386' '298' '328' '394' '361' '322' '392' '382'
 '242' '66' '294' '292' '229' '163' '162' '161' '160' '159' '158' '364'
 '45' '47' '49' '67' '68' '2' '6' '8' '11' '15 / 29 / 43' '42' '16' '21'
 '27 / 28' '38' '41' '33' '210' '202' '192' '195' '203' '197' '26' '24'
 '23' '43' '255' '77' '167' '221' '230' '114' '165' '30' '73' '94' '136'
 '118' '122' '119' '19' '25' '31' '53' '54' '55' '57' '35 / 36' '38 / 39'
 '41 / 42' '44 / 45' '300' '208' '209' '217' '5' '52' '61' '117' '116'
 '410' '411' '58' '60' '62' '64' '125' '417' '173 / 174' '178' '310' '225'
 '168' '176 / 293 / 396' '191' '260' '428' '427' '419' '334' '400' '391'
 '248' '278 / 397' '430' '431' '371' '429' '265' '463' '188' '17' '315'
 '44 / 47' '43 / 49' '314' '216' '45 / 48' '226' '233' '250' '291' '213'
 '281' '401' '346' '245' '319' '588' '609' '433' '462' '458' '123' '273'
 '127' '17 / 19' '31 / 32' '39' '35' '56' '59' '65' '71' '156' '80' '172'
 '171' '69' '181' '92' '179' '120' '140' '253' '358' '237' '254 / 296'
 '271' '337' '393' '66 / 143 / 179' '201' '200' '261' '86' '212' '302'
 '206' '257' '243' '304' '306' '303 / 305 / 307' '155' '101' '170'
 '74 / 112' '143' '215' '72' '142' '144' '33 / 133' '3' '40' '48' '50'
 '231' '376' '299' '378' '349' '383' '559' '388' '424' '479' '550' '549'
 '560' '563' '561' '562' '467' '7' '10' '37' '1 / 2 / 3 / 4' '5 / 6 / 9'
 '11 / 12 / 13 / 14' '7 / 15 / 16' '267' '404' '399' '403' '406' '93'
 '339' '32' '28' '28 / 134' '152' '186' '308' '404 / 409' '136 / 137'
 '154 / 328' '157' '218' '256' '174 / 193' '407' '265 / 319' '304 / 401'
 '365' '287' '377' '291 / 326' '331' '309 / 385' '333' '303 / 351 / 354'
 '357' '375 / 408' '235' '103' '151' '241' '436' '137' '141' '13' '9'
 '507' '12' '356' '489' '491' '530' '545' '571' '606' '628 / 629 / 630'
 '638 / 676' '706 / 713' '74' '105' '113' '154' '91' '330' '199' '124'
 '240' '166' '139' '95' '85' '146' '129' '97' '279' '1' '87' '44 / 96'
 '82 / 113' '99' '1 / 5' '6 / 7' '8 / 10' '11 / 55' '13 / 14' '15 / 16'
 '17 / 57' '20 / 21' '34 / 68' '35 / 76' '23 / 24 / 25' '73 / 74' '190'
 '185' '194' '134' '517' '519' '511' '505' '493' '503' '494 / 500'
 '491 / 501 / 518' '478' '473' '121' '496' '115' '184' '441' '466' '540'
 '544' '543' '534' '152 / 154' '59 / 158 / 160' '340' '347' '350' '96'
 '130' '546' '372' '147' '173' '228' '355' '293' '332' '336' '62 / 72'
 '69 / 70' '481' '497' '193' '59 / 64' '70' '36' '589' '633' '594' '663'
 '138' '78 / 80' '182' '175' '259' '247' '246' '126' '177']

In [11]:

# Verificar quais colunas contêm valores nulos ou -1
colunas_com_nulos_ou_menos_um = df_resultados.columns[df_resultados.isna().any() | (df_resultados == -1).any()].tolist()

# Mostrar as colunas com valores nulos ou -1
print("Colunas com valores nulos ou -1:")
print(colunas_com_nulos_ou_menos_um)

Colunas com valores nulos ou -1:
['NR_PARTIDO', 'NM_VOTAVEL', 'DT_ABERTURA', 'DT_ENCERRAMENTO', 'NR_JUNTA_APURADORA', 'NR_TURMA_APURADORA']

In [12]:
# Função para contar o número de ocorrências de valores específicos em cada coluna
def calcular_percentual(col):
    total_valores = len(col)
    menos_um = (col == -1).sum()
    em_branco = (col == "").sum()
    nulos = col.isna().sum()
    percentual_nulos = (nulos / total_valores) * 100
    percentual_menos_um = (menos_um / total_valores) * 100
    percentual_em_branco = (em_branco / total_valores) * 100
    return  percentual_menos_um, percentual_em_branco, percentual_nulos

# Aplicar a função em cada coluna
percentuais = df_resultados.apply(calcular_percentual)

# Mostrar os percentuais de ocorrências para cada coluna
print("Percentuais de ocorrências:")
percentuais

Percentuais de ocorrências:

,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,CD_CARGO_PERGUNTA,DS_CARGO_PERGUNTA,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,...,CD_CARGA_2_URNA_EFETIVADA,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,DT_EMISSAO_BU,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.973357,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,99.996587,99.996587
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.003413,0.003413,0.0,0.000000,0.000000

O dataset resultado possuim uma quantidade muito baixa de valores nulos, então optei por preencher com o valores das celunas anteriores

In [13]:
# Preencher os valores nulos com os valores da linha anterior
df_resultados[["DT_ABERTURA", "DT_ENCERRAMENTO"]] = df_resultados[["DT_ABERTURA", "DT_ENCERRAMENTO"]].fillna(method='ffill')

# Mostrar o DataFrame com os valores preenchidos
df_resultados.head()

,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,CD_CARGO_PERGUNTA,DS_CARGO_PERGUNTA,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,...,CD_CARGA_2_URNA_EFETIVADA,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,DT_EMISSAO_BU,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
0,71072,SÃO PAULO,1,1,1015,11,Prefeito,-1,#NULO#,#NULO#,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
1,71072,SÃO PAULO,1,1,1015,11,Prefeito,13,PT,Partido dos Trabalhadores,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
2,71072,SÃO PAULO,1,1,1015,11,Prefeito,18,REDE,Rede Sustentabilidade,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
3,71072,SÃO PAULO,1,1,1015,11,Prefeito,40,PSB,Partido Socialista Brasileiro,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
4,71072,SÃO PAULO,1,1,1015,11,Prefeito,45,PSDB,Partido da Social Democracia Brasileira,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1

Existem 2 colunas que estão com 99,99% com dados "#NULO" então estarei removendo essas colunas

In [14]:
df_resultados = df_resultados.drop(columns=df_resultados[['NR_JUNTA_APURADORA', 'NR_TURMA_APURADORA']])
df_resultados.head()

,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,CD_CARGO_PERGUNTA,DS_CARGO_PERGUNTA,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,...,NR_URNA_EFETIVADA,CD_CARGA_1_URNA_EFETIVADA,CD_CARGA_2_URNA_EFETIVADA,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,DT_EMISSAO_BU
0,71072,SÃO PAULO,1,1,1015,11,Prefeito,-1,#NULO#,#NULO#,...,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
1,71072,SÃO PAULO,1,1,1015,11,Prefeito,13,PT,Partido dos Trabalhadores,...,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
2,71072,SÃO PAULO,1,1,1015,11,Prefeito,18,REDE,Rede Sustentabilidade,...,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
3,71072,SÃO PAULO,1,1,1015,11,Prefeito,40,PSB,Partido Socialista Brasileiro,...,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
4,71072,SÃO PAULO,1,1,1015,11,Prefeito,45,PSDB,Partido da Social Democracia Brasileira,...,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06

In [15]:
df_result = df_resultados[df_resultados["DS_CARGO_PERGUNTA"]=="Vereador"]

df_result = df_result[["NM_VOTAVEL", "SG_PARTIDO",  "NM_PARTIDO", "QT_VOTOS", "NM_MUNICIPIO" ]]

In [16]:
df_resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3779751 entries, 0 to 3779750
Data columns (total 29 columns):
 #   Column                       Dtype
---  ------                       -----
 0   CD_MUNICIPIO                 int64
 1   NM_MUNICIPIO                 object
 2   NR_ZONA                      int64
 3   NR_SECAO                     int64
 4   NR_LOCAL_VOTACAO             int64
 5   CD_CARGO_PERGUNTA            int64
 6   DS_CARGO_PERGUNTA            object
 7   NR_PARTIDO                   int64
 8   SG_PARTIDO                   object
 9   NM_PARTIDO                   object
 10  DT_BU_RECEBIDO               datetime64[ns]
 11  QT_APTOS                     int64
 12  QT_COMPARECIMENTO            int64
 13  QT_ABSTENCOES                int64
 14  CD_TIPO_VOTAVEL              int64
 15  DS_TIPO_VOTAVEL              object
 16  NR_VOTAVEL                   int64
 17  NM_VOTAVEL                   object
 18  QT_VOTOS                     int64
 19  NR_URNA_EFETIVADA            int64
 20  CD_CARGA_1_URNA_EFETIVADA    object
 21  CD_CARGA_2_URNA_EFETIVADA    float64
 22  CD_FLASHCARD_URNA_EFETIVADA  object
 23  DT_CARGA_URNA_EFETIVADA      datetime64[ns]
 24  DS_CARGO_PERGUNTA_SECAO      object
 25  DS_AGREGADAS                 object
 26  DT_ABERTURA                  datetime64[ns]
 27  DT_ENCERRAMENTO              datetime64[ns]
 28  DT_EMISSAO_BU                datetime64[ns]
dtypes: datetime64[ns](5), float64(1), int64(13), object(10)
memory usage: 836.3+ MB

## Analise exploratória do dataset eleitorado

In [17]:
#Crio um resumo do dataset resultados

print("Tamanho do dataset: ", df_eleitorado.shape)
print("_______________________________________")
print("Valores null: ")
print(df_eleitorado.isnull().sum())
print("_______________________________________")
print("Valores únicos: ")
print(df_eleitorado.nunique())

print("_______________________________________")
print("Informação do dataset: ")
print(df_eleitorado.info())

Tamanho do dataset:  (4248507, 21)
_______________________________________
Valores null:
DT_GERACAO                    0
HH_GERACAO                    0
ANO_ELEICAO                   0
SG_UF                         0
CD_MUNICIPIO                  0
NM_MUNICIPIO                  0
CD_MUN_SIT_BIOMETRIA          0
DS_MUN_SIT_BIOMETRIA          0
NR_ZONA                       0
CD_GENERO                     0
DS_GENERO                     0
CD_ESTADO_CIVIL               0
DS_ESTADO_CIVIL               0
CD_FAIXA_ETARIA               0
DS_FAIXA_ETARIA               0
CD_GRAU_ESCOLARIDADE          0
DS_GRAU_ESCOLARIDADE          0
QT_ELEITORES_PERFIL           0
QT_ELEITORES_BIOMETRIA        0
QT_ELEITORES_DEFICIENCIA      0
QT_ELEITORES_INC_NM_SOCIAL    0
dtype: int64
_______________________________________
Valores únicos:
DT_GERACAO                       1
HH_GERACAO                       1
ANO_ELEICAO                      1
SG_UF                           26
CD_MUNICIPIO                  5569
NM_MUNICIPIO                  5296
CD_MUN_SIT_BIOMETRIA             1
DS_MUN_SIT_BIOMETRIA             1
NR_ZONA                        421
CD_GENERO                        3
DS_GENERO                        3
CD_ESTADO_CIVIL                  6
DS_ESTADO_CIVIL                  6
CD_FAIXA_ETARIA                 23
DS_FAIXA_ETARIA                 23
CD_GRAU_ESCOLARIDADE             9
DS_GRAU_ESCOLARIDADE             9
QT_ELEITORES_PERFIL           2953
QT_ELEITORES_BIOMETRIA        2658
QT_ELEITORES_DEFICIENCIA       173
QT_ELEITORES_INC_NM_SOCIAL       8
dtype: int64
_______________________________________
Informação do dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4248507 entries, 0 to 4248506
Data columns (total 21 columns):
 #   Column                      Dtype
---  ------                      -----
 0   DT_GERACAO                  object
 1   HH_GERACAO                  object
 2   ANO_ELEICAO                 int64
 3   SG_UF                       object
 4   CD_MUNICIPIO                int64
 5   NM_MUNICIPIO                object
 6   CD_MUN_SIT_BIOMETRIA        int64
 7   DS_MUN_SIT_BIOMETRIA        object
 8   NR_ZONA                     int64
 9   CD_GENERO                   int64
 10  DS_GENERO                   object
 11  CD_ESTADO_CIVIL             int64
 12  DS_ESTADO_CIVIL             object
 13  CD_FAIXA_ETARIA             int64
 14  DS_FAIXA_ETARIA             object
 15  CD_GRAU_ESCOLARIDADE        int64
 16  DS_GRAU_ESCOLARIDADE        object
 17  QT_ELEITORES_PERFIL         int64
 18  QT_ELEITORES_BIOMETRIA      int64
 19  QT_ELEITORES_DEFICIENCIA    int64
 20  QT_ELEITORES_INC_NM_SOCIAL  int64
dtypes: int64(12), object(9)
memory usage: 680.7+ MB
None

In [18]:
#Seleciono as colunas que só tem um único valor
col_eleitorado_unique_value = ["DT_GERACAO",
                               "HH_GERACAO",
                               "ANO_ELEICAO",
                               "CD_MUN_SIT_BIOMETRIA",
                               "DS_MUN_SIT_BIOMETRIA" ]


df_eleit_unique_value = df_eleitorado[col_eleitorado_unique_value]

# Mostrar o DataFrame resultante
df_eleitorado = df_eleitorado.drop(columns=df_eleit_unique_value)
df_eleitorado.head(2)

,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,SP,70734,SÃO BENTO DO SAPUCAÍ,314,4,FEMININO,3,CASADO,7074,70 a 74 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,47,37,1,0
1,SP,70734,SÃO BENTO DO SAPUCAÍ,314,4,FEMININO,3,CASADO,7074,70 a 74 anos,4,ENSINO FUNDAMENTAL COMPLETO,5,4,0,0

In [20]:
#Seleciono os valores categóricos que estão abaixo de 30

df_eleitorado_categoricas = df_eleitorado.select_dtypes(include=['object'])

for column_name2 in df_eleitorado_categoricas.columns:
    if (df_eleitorado_categoricas[column_name2].nunique()) < 30:
        unique_values2 = df_eleitorado_categoricas[column_name2].unique()
        print(f"______{column_name}_____")
        print(unique_values2)
        print("")
        print("")
    else:
        next

______DS_AGREGADAS_____
['SP' 'BA' 'MS' 'MG' 'PR' 'MA' 'GO' 'AL' 'MT' 'PB' 'TO' 'PA' 'PE' 'PI'
 'ES' 'CE' 'RJ' 'RS' 'SC' 'RO' 'RN' 'SE' 'RR' 'AC' 'AM' 'AP']


______DS_AGREGADAS_____
['FEMININO' 'NÃO INFORMADO' 'MASCULINO']


______DS_AGREGADAS_____
['CASADO' 'VIÚVO' 'SEPARADO JUDICIALMENTE' 'DIVORCIADO' 'NÃO INFORMADO'
 'SOLTEIRO']


______DS_AGREGADAS_____
['70 a 74 anos                  ' '75 a 79 anos                  '
 '80 a 84 anos                  ' '85 a 89 anos                  '
 '90 a 94 anos                  ' '95 a 99 anos                  '
 '100 anos ou mais              ' '30 a 34 anos                  '
 '35 a 39 anos                  ' '40 a 44 anos                  '
 '45 a 49 anos                  ' '50 a 54 anos                  '
 '55 a 59 anos                  ' '60 a 64 anos                  '
 '65 a 69 anos                  ' '21 a 24 anos                  '
 '25 a 29 anos                  ' '16 anos                       '
 '17 anos                       ' '18 anos                       '
 '19 anos                       ' '20 anos                       '
 'Inválido                      ']


______DS_AGREGADAS_____
['ENSINO FUNDAMENTAL INCOMPLETO' 'ENSINO FUNDAMENTAL COMPLETO'
 'ENSINO MÉDIO INCOMPLETO' 'ENSINO MÉDIO COMPLETO' 'SUPERIOR COMPLETO'
 'ANALFABETO' 'LÊ E ESCREVE' 'SUPERIOR INCOMPLETO' 'NÃO INFORMADO']

In [27]:
# Cria uma lista com as colunas categóricas
colunas_categoricas = df_eleitorado.select_dtypes(include=['object']).columns

# Cria uma condição booleana para verificar a presença de "#NULO#" ou -1 em colunas categóricas
condicao = df_eleitorado[colunas_categoricas].apply(lambda col: col.str.contains("#NULO#|-1", na=False)).any(axis=1)

# Filtra o DataFrame pelas linhas que atendem à condição
linhas_com_nulo = df_eleitorado[condicao]

# Mostra as linhas que contêm "#NULO#" ou -1 em colunas categóricas
linhas_com_nulo

Empty DataFrame
Columns: [SG_UF, CD_MUNICIPIO, NM_MUNICIPIO, NR_ZONA, CD_GENERO, DS_GENERO, CD_ESTADO_CIVIL, DS_ESTADO_CIVIL, CD_FAIXA_ETARIA, DS_FAIXA_ETARIA, CD_GRAU_ESCOLARIDADE, DS_GRAU_ESCOLARIDADE, QT_ELEITORES_PERFIL, QT_ELEITORES_BIOMETRIA, QT_ELEITORES_DEFICIENCIA, QT_ELEITORES_INC_NM_SOCIAL]
Index: []

No dataset eleitorado não existe linha com a informação nula

In [22]:
df_eleitorado.describe()

,CD_MUNICIPIO,NR_ZONA,CD_GENERO,CD_ESTADO_CIVIL,CD_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
count,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06
mean,5.185341e+04,9.923677e+01,3.039349e+00,3.877871e+00,5.279179e+03,4.243422e+00,3.481658e+01,2.767913e+01,2.726214e-01,2.350237e-03
std,2.838118e+04,9.135042e+01,1.019962e+00,2.837516e+00,2.105561e+03,2.219556e+00,1.211326e+02,9.975691e+01,1.695875e+00,5.319832e-02
min,1.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,-3.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.605000e+04,3.100000e+01,2.000000e+00,1.000000e+00,3.539000e+03,2.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
50%,5.502600e+04,7.000000e+01,4.000000e+00,3.000000e+00,5.054000e+03,4.000000e+00,5.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00
75%,7.581700e+04,1.400000e+02,4.000000e+00,5.000000e+00,7.074000e+03,6.000000e+00,2.100000e+01,1.600000e+01,0.000000e+00,0.000000e+00
max,9.907400e+04,4.270000e+02,4.000000e+00,9.000000e+00,9.999000e+03,8.000000e+00,6.438000e+03,6.437000e+03,3.830000e+02,7.000000e+00

In [23]:
mapeamento = {
    '70 a 74 anos                  ': '70+ anos',
    '75 a 79 anos                  ': '70+ anos',
    '80 a 84 anos                  ': '70+ anos',
    '85 a 89 anos                  ': '70+ anos',
    '90 a 94 anos                  ': '70+ anos',
    '95 a 99 anos                  ': '70+ anos',
    '100 anos ou mais              ': '70+ anos',
    '30 a 34 anos                  ': '30 a 39 anos',
    '35 a 39 anos                  ': '30 a 39 anos',
    '40 a 44 anos                  ': '40 a 49 anos',
    '45 a 49 anos                  ': '40 a 49 anos',
    '50 a 54 anos                  ': '50 a 59 anos',
    '55 a 59 anos                  ': '50 a 59 anos',
    '60 a 64 anos                  ': '60 a 69 anos',
    '65 a 69 anos                  ': '60 a 69 anos',
    '21 a 24 anos                  ': '21 a 29 anos',
    '25 a 29 anos                  ': '21 a 29 anos',
    '16 anos                       ': '16 a 20 anos',
    '17 anos                       ': '16 a 20 anos',
    '18 anos                       ': '16 a 20 anos',
    '19 anos                       ': '16 a 20 anos',
    '20 anos                       ': '16 a 20 anos',
    'Inválido                      ': 'Inválido'
}

# Aplicar o mapeamento para criar a nova coluna agregada
df_eleitorado['DS_FAIXA_ETARIA'] = df_eleitorado['DS_FAIXA_ETARIA'].map(mapeamento)

In [24]:
df_eleitorado[df_eleitorado["SG_UF"]=="SP"].shape

(639502, 16)

In [25]:
# Filtra o DataFrame para o estado de São Paulo
df_sp_eleitorado = df_eleitorado[df_eleitorado["SG_UF"] == "SP"]

# Agrupa por município e calcula a contagem
grouped_df_eleitorado = df_sp_eleitorado.groupby("NM_MUNICIPIO").size().reset_index(name="Quantidade")

# Exibe o DataFrame agrupado
grouped_df_eleitorado

           NM_MUNICIPIO  Quantidade
0            ADAMANTINA         929
1                ADOLFO         611
2                 AGUAÍ         851
3                AGUDOS         959
4              ALAMBARI         566
..                  ...         ...
640  ÁGUAS DE SÃO PEDRO         580
641    ÁLVARES FLORENCE         553
642     ÁLVARES MACHADO         863
643  ÁLVARO DE CARVALHO         529
644                ÓLEO         472

[645 rows x 2 columns]

In [26]:
df_merged = pd.merge(df_result, df_agrupado_eleitorado, left_on="NM_MUNICIPIO", right_on="Municipio", how="inner")
df_merged

NameError: ignored

In [ ]:
df_merged[df_merged["Municipio"]=="SÃO PAULO"]["QT_VOTOS"].sum()

In [ ]:
# Selecionar uma coluna categórica
coluna_categorica = "DS_FAIXA_ETARIA"

# Calcular a contagem de ocorrências de cada valor na coluna categórica
contagem_por_valor = df_eleitorado[coluna_categorica].value_counts()

# Ordenar as faixas
faixas_ordenadas = ['70+ anos',
                    '60 a 69 anos',
                    '50 a 59 anos',
                    '40 a 49 anos',
                    '30 a 39 anos',
                    '21 a 29 anos',
                    '16 a 20 anos',
                    'Inválido']

contagem_ordenada = contagem_por_valor.reindex(faixas_ordenadas)

# Criar um DataFrame com os resultados ordenados
df_contagem = pd.DataFrame({'Valor': contagem_ordenada.index, 'Contagem': contagem_ordenada.values})

# Criar o gráfico de barras usando o Plotly Express
titulo = f'Quantidade de Eleitores por Faixa Etária'
fig = px.bar(df_contagem, x='Valor', y='Contagem', title=titulo)

# Personalizar o layout do gráfico
fig.update_layout(
    xaxis_title="Faixa Etária",
    yaxis_title="Contagem de Eleitores",
    xaxis=dict(categoryorder='array', categoryarray=faixas_ordenadas),  # Ordenar as categorias no eixo X
    yaxis=dict(type='linear')  # Definir o eixo Y como linear
)

# Mostrar o gráfico
fig.show()

In [ ]:
columns_list = df_eleitorado.select_dtypes(include='object').drop(columns = ['SG_UF','NM_MUNICIPIO']).head()

In [ ]:
# Contador
A = 0

for i in columns_list:
    A += 1

    # Contagem de valores para gráfico interativo
    df_contagem = pd.DataFrame({'Valor': df_eleitorado[i].value_counts().index, 'Contagem': df_eleitorado[i].value_counts().values})

    # Criar gráfico interativo com Plotly
    fig = px.bar(df_contagem, x='Valor', y='Contagem', title=i)

    # Remover a legenda dos eixos X e Y
    fig.update_layout(xaxis_title='', yaxis_title='')

    fig.show()