<a href="https://colab.research.google.com/github/clferreira1985/Projetos_Python/blob/main/Renova/Desafio_Tecnico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio Técnica

**Contexto:** . Temos dois conjuntos de dados, um com o resultado e outros com o eleitores. O Objetivo do presente desafio é fazer um tratamento nos dados responder algumas perguntas como:

1º Fazer tratamento em alguns registros que estão gramaticalmente incorretos;
2º Criar um tabela para cada base de dados (eleitorado e resultados);
3º Gerar uma consulta realizando um **JOIN** entre as tabelas, retornando algumas informações como:


      *   Em qual município o candidato X foi mais votado;
      *   Qual o Candidato foi mais votado em cada município;
      *   Qual o perfil do eleitorado (faixa etária, gênero, grau de escolaridade, etc.) mais votou em cada candidato.
       

**Estrutura:** O notebook está dividido assim:

1. Importação das bibliotecas
2. Acesso aos dados
3. Analise da qualidade dos dados
4. Análise exploratória dos dados

**Créditos:** O notebook foi desenvolvido e documentado por:

- Cleiton Silva

**Dataset:** OS dados foram enviados pela empresa, sendo que estão disponíveis através do site do TSE. O dataset dos resultados está corropido depois da linha informado abaixo

##1. Importação das bibliotecas

In [1]:
import gdown
from zipfile import ZipFile
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt

##2. Acesso e tratamento dos dados

In [2]:
#download do dataset
file_id = "1QqKoXpnx16eRqCHUn72fR_qT4yBXpQ8T"
folder_path = f"https://drive.google.com/uc?id={file_id}"
output = "database_desfio_renovaBR.zip"
gdown.download(folder_path, output)

Downloading...
From: https://drive.google.com/uc?id=1QqKoXpnx16eRqCHUn72fR_qT4yBXpQ8T
To: /content/database_desfio_renovaBR.zip
100%|██████████| 234M/234M [00:01<00:00, 199MB/s]

'database_desfio_renovaBR.zip'

In [3]:
#Extraindo o dataset do zip
with ZipFile('database_desfio_renovaBR.zip', 'r') as zip_object:
  zip_object.extractall()

In [4]:
# Ler o arquivo CSV até a linha 3779751 acima dessa linha está corrompido as linhas
n_linhas = 3779751
df_resultados = pd.read_csv("/content/resultados/SP_turno_1.csv", encoding='latin1', sep=';', nrows=n_linhas)

# Mostrar o DataFrame
df_resultados.head(2)

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,CD_PLEITO,DT_PLEITO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,...,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,QT_ELEITORES_BIOMETRIA_NH,DT_EMISSAO_BU,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
0,18/11/2020,15:49:53,2020,0,Eleição Ordinária,304,15/11/2020,1,426,Eleições Municipais 2020,...,E0BA7264,03/11/2020 11:19:00,11 - 1,#NULO#,15/11/2020 07:00:00,15/11/2020 17:02:46,0,15/11/2020 17:04:06,-1,-1
1,18/11/2020,15:49:53,2020,0,Eleição Ordinária,304,15/11/2020,1,426,Eleições Municipais 2020,...,E0BA7264,03/11/2020 11:19:00,11 - 1,#NULO#,15/11/2020 07:00:00,15/11/2020 17:02:46,0,15/11/2020 17:04:06,-1,-1

In [5]:

df_eleitorado = pd.read_csv('/content/eleitorado/perfil_eleitorado_2020/perfil_eleitorado_2020.csv',encoding='latin1', sep=';')

# Mostrar o DataFrame
df_eleitorado.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,CD_MUN_SIT_BIOMETRIA,DS_MUN_SIT_BIOMETRIA,NR_ZONA,CD_GENERO,...,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,...,3,CASADO,7074,70 a 74 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,47,37,1,0
1,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,...,3,CASADO,7074,70 a 74 anos,4,ENSINO FUNDAMENTAL COMPLETO,5,4,0,0
2,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,...,3,CASADO,7074,70 a 74 anos,5,ENSINO MÉDIO INCOMPLETO,1,1,0,0
3,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,...,3,CASADO,7074,70 a 74 anos,6,ENSINO MÉDIO COMPLETO,10,8,0,0
4,01/08/2020,08:37:48,2020,SP,70734,SÃO BENTO DO SAPUCAÍ,0,Sem biometria,314,4,...,3,CASADO,7074,70 a 74 anos,8,SUPERIOR COMPLETO,23,18,0,0

## 3. Analise da qualidade dos dados

### 3.1 Dataset resultados

####3.1.1 Tamanho do dataset

In [6]:
df_resultados.shape

(3779751, 45)

####3.1.2 Análise de dados ausentes

In [7]:
df_resultados.isna().sum()

DT_GERACAO                       0
HH_GERACAO                       0
ANO_ELEICAO                      0
CD_TIPO_ELEICAO                  0
NM_TIPO_ELEICAO                  0
CD_PLEITO                        0
DT_PLEITO                        0
NR_TURNO                         0
CD_ELEICAO                       0
DS_ELEICAO                       0
SG_UF                            0
CD_MUNICIPIO                     0
NM_MUNICIPIO                     0
NR_ZONA                          0
NR_SECAO                         0
NR_LOCAL_VOTACAO                 0
CD_CARGO_PERGUNTA                0
DS_CARGO_PERGUNTA                0
NR_PARTIDO                       0
SG_PARTIDO                       0
NM_PARTIDO                       0
DT_BU_RECEBIDO                   0
QT_APTOS                         0
QT_COMPARECIMENTO                0
QT_ABSTENCOES                    0
CD_TIPO_URNA                     0
DS_TIPO_URNA                     0
CD_TIPO_VOTAVEL                  0
DS_TIPO_VOTAVEL                  0
NR_VOTAVEL                       0
NM_VOTAVEL                      13
QT_VOTOS                         0
NR_URNA_EFETIVADA                0
CD_CARGA_1_URNA_EFETIVADA        0
CD_CARGA_2_URNA_EFETIVADA        0
CD_FLASHCARD_URNA_EFETIVADA      0
DT_CARGA_URNA_EFETIVADA          0
DS_CARGO_PERGUNTA_SECAO          0
DS_AGREGADAS                     0
DT_ABERTURA                    129
DT_ENCERRAMENTO                129
QT_ELEITORES_BIOMETRIA_NH        0
DT_EMISSAO_BU                    0
NR_JUNTA_APURADORA               0
NR_TURMA_APURADORA               0
dtype: int64

####3.1.3 Analise dos valores únicos

In [8]:
df_resultados.nunique()

DT_GERACAO                         1
HH_GERACAO                         1
ANO_ELEICAO                        1
CD_TIPO_ELEICAO                    1
NM_TIPO_ELEICAO                    1
CD_PLEITO                          1
DT_PLEITO                          1
NR_TURNO                           1
CD_ELEICAO                         1
DS_ELEICAO                         1
SG_UF                              1
CD_MUNICIPIO                     539
NM_MUNICIPIO                     539
NR_ZONA                          228
NR_SECAO                         728
NR_LOCAL_VOTACAO                 154
CD_CARGO_PERGUNTA                  2
DS_CARGO_PERGUNTA                  2
NR_PARTIDO                        34
SG_PARTIDO                        34
NM_PARTIDO                        34
DT_BU_RECEBIDO                 12091
QT_APTOS                         431
QT_COMPARECIMENTO                382
QT_ABSTENCOES                    246
CD_TIPO_URNA                       1
DS_TIPO_URNA                       1
CD_TIPO_VOTAVEL                    4
DS_TIPO_VOTAVEL                    4
NR_VOTAVEL                     10039
NM_VOTAVEL                     64183
QT_VOTOS                         299
NR_URNA_EFETIVADA              37595
CD_CARGA_1_URNA_EFETIVADA      37595
CD_CARGA_2_URNA_EFETIVADA      36900
CD_FLASHCARD_URNA_EFETIVADA     2057
DT_CARGA_URNA_EFETIVADA         7807
DS_CARGO_PERGUNTA_SECAO         1456
DS_AGREGADAS                     483
DT_ABERTURA                     1075
DT_ENCERRAMENTO                 1110
QT_ELEITORES_BIOMETRIA_NH          1
DT_EMISSAO_BU                   1305
NR_JUNTA_APURADORA                 2
NR_TURMA_APURADORA                 2
dtype: int64

####3.1.4  Informação do dataset

In [9]:
df_resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3779751 entries, 0 to 3779750
Data columns (total 45 columns):
 #   Column                       Dtype
---  ------                       -----
 0   DT_GERACAO                   object
 1   HH_GERACAO                   object
 2   ANO_ELEICAO                  int64
 3   CD_TIPO_ELEICAO              int64
 4   NM_TIPO_ELEICAO              object
 5   CD_PLEITO                    int64
 6   DT_PLEITO                    object
 7   NR_TURNO                     int64
 8   CD_ELEICAO                   int64
 9   DS_ELEICAO                   object
 10  SG_UF                        object
 11  CD_MUNICIPIO                 int64
 12  NM_MUNICIPIO                 object
 13  NR_ZONA                      int64
 14  NR_SECAO                     int64
 15  NR_LOCAL_VOTACAO             int64
 16  CD_CARGO_PERGUNTA            int64
 17  DS_CARGO_PERGUNTA            object
 18  NR_PARTIDO                   int64
 19  SG_PARTIDO                   object
 20  NM_PARTIDO                   object
 21  DT_BU_RECEBIDO               object
 22  QT_APTOS                     int64
 23  QT_COMPARECIMENTO            int64
 24  QT_ABSTENCOES                int64
 25  CD_TIPO_URNA                 int64
 26  DS_TIPO_URNA                 object
 27  CD_TIPO_VOTAVEL              int64
 28  DS_TIPO_VOTAVEL              object
 29  NR_VOTAVEL                   int64
 30  NM_VOTAVEL                   object
 31  QT_VOTOS                     int64
 32  NR_URNA_EFETIVADA            int64
 33  CD_CARGA_1_URNA_EFETIVADA    object
 34  CD_CARGA_2_URNA_EFETIVADA    float64
 35  CD_FLASHCARD_URNA_EFETIVADA  object
 36  DT_CARGA_URNA_EFETIVADA      object
 37  DS_CARGO_PERGUNTA_SECAO      object
 38  DS_AGREGADAS                 object
 39  DT_ABERTURA                  object
 40  DT_ENCERRAMENTO              object
 41  QT_ELEITORES_BIOMETRIA_NH    int64
 42  DT_EMISSAO_BU                object
 43  NR_JUNTA_APURADORA           int64
 44  NR_TURMA_APURADORA           int64
dtypes: float64(1), int64(22), object(22)
memory usage: 1.3+ GB

####3.1.5  Describe nos dados categóricos e numéricos

In [10]:
df_resultados_categoricos = df_resultados.select_dtypes(include=['object'])
df_resultados_categoricos.describe()

,DT_GERACAO,HH_GERACAO,NM_TIPO_ELEICAO,DT_PLEITO,DS_ELEICAO,SG_UF,NM_MUNICIPIO,DS_CARGO_PERGUNTA,SG_PARTIDO,NM_PARTIDO,...,DS_TIPO_VOTAVEL,NM_VOTAVEL,CD_CARGA_1_URNA_EFETIVADA,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,DT_EMISSAO_BU
count,3779751,3779751,3779751,3779751,3779751,3779751,3779751,3779751,3779751,3779751,...,3779751,3779738,3779751,3779751,3779751,3779751,3779751,3779622,3779622,3779751
unique,1,1,1,1,1,1,539,2,34,34,...,4,64183,37595,2057,7807,1456,483,1075,1110,1305
top,18/11/2020,15:49:53,Eleição Ordinária,15/11/2020,Eleições Municipais 2020,SP,SÃO PAULO,Vereador,PSDB,Partido da Social Democracia Brasileira,...,Nominal,Nulo,685.992.975.542.430.487.,F0994765,06/11/2020 11:20:00,13 - 9,#NULO#,15/11/2020 07:00:00,15/11/2020 17:00:30,15/11/2020 17:02:48
freq,3779751,3779751,3779751,3779751,3779751,3779751,329899,3478225,341539,341539,...,3402630,75152,191,9105,2504,17141,3666978,3275529,23041,15818

In [11]:
df_resultados_numericos = df_resultados.select_dtypes(exclude=['object'])
df_resultados_numericos.describe()

,ANO_ELEICAO,CD_TIPO_ELEICAO,CD_PLEITO,NR_TURNO,CD_ELEICAO,CD_MUNICIPIO,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,CD_CARGO_PERGUNTA,...,QT_ABSTENCOES,CD_TIPO_URNA,CD_TIPO_VOTAVEL,NR_VOTAVEL,QT_VOTOS,NR_URNA_EFETIVADA,CD_CARGA_2_URNA_EFETIVADA,QT_ELEITORES_BIOMETRIA_NH,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
count,3779751.0,3779751.0,3779751.0,3779751.0,3779751.0,3.779751e+06,3.779751e+06,3.779751e+06,3.779751e+06,3.779751e+06,...,3.779751e+06,3779751.0,3.779751e+06,3.779751e+06,3.779751e+06,3.779751e+06,3.779751e+06,3779751.0,3.779751e+06,3.779751e+06
mean,2020.0,0.0,304.0,1.0,426.0,6.708083e+04,1.107122e+02,1.627237e+02,1.267905e+03,1.284045e+01,...,1.088486e+02,1.0,1.239738e+00,2.558622e+04,5.611538e+00,1.399993e+06,4.977446e+02,0.0,-9.999317e-01,-9.999317e-01
std,0.0,0.0,0.0,0.0,0.0,3.472612e+03,7.349412e+01,1.320815e+02,3.455922e+02,5.418862e-01,...,3.056124e+01,0.0,7.630675e-01,2.055420e+04,1.578593e+01,2.875469e+05,2.898982e+02,0.0,1.168385e-02,1.168385e-02
min,2020.0,0.0,304.0,1.0,426.0,6.101800e+04,1.000000e+00,1.000000e+00,1.015000e+03,1.100000e+01,...,1.000000e+00,1.0,1.000000e+00,1.000000e+01,1.000000e+00,1.000006e+06,2.000000e-03,0.0,-1.000000e+00,-1.000000e+00
25%,2020.0,0.0,304.0,1.0,426.0,6.425400e+04,4.600000e+01,5.600000e+01,1.040000e+03,1.300000e+01,...,8.800000e+01,1.0,1.000000e+00,1.188800e+04,1.000000e+00,1.147427e+06,2.470360e+02,0.0,-1.000000e+00,-1.000000e+00
50%,2020.0,0.0,304.0,1.0,426.0,6.689300e+04,1.100000e+02,1.280000e+02,1.120000e+03,1.300000e+01,...,1.070000e+02,1.0,1.000000e+00,1.988800e+04,2.000000e+00,1.310645e+06,4.947230e+02,0.0,-1.000000e+00,-1.000000e+00
75%,2020.0,0.0,304.0,1.0,426.0,7.075000e+04,1.770000e+02,2.420000e+02,1.295000e+03,1.300000e+01,...,1.280000e+02,1.0,1.000000e+00,4.319000e+04,4.000000e+00,1.699804e+06,7.486000e+02,0.0,-1.000000e+00,-1.000000e+00
max,2020.0,0.0,304.0,1.0,426.0,7.245100e+04,2.460000e+02,7.440000e+02,2.640000e+03,1.300000e+01,...,3.850000e+02,1.0,4.000000e+00,9.099900e+04,3.210000e+02,1.850012e+06,9.999760e+02,0.0,1.000000e+00,1.000000e+00

####3.1.6  Analise detalhada dos valores únicos

In [12]:
#print todos os valores categorios para dar uma conferida
for column_name in df_resultados_categoricos.columns:
    unique_values = df_resultados_categoricos[column_name].unique()
    print(f"______{column_name}_____")
    print(unique_values)
    print("")
    print("")

______DT_GERACAO_____
['18/11/2020']


______HH_GERACAO_____
['15:49:53']


______NM_TIPO_ELEICAO_____
['Eleição Ordinária']


______DT_PLEITO_____
['15/11/2020']


______DS_ELEICAO_____
['Eleições Municipais 2020']


______SG_UF_____
['SP']


______NM_MUNICIPIO_____
['SÃO PAULO' 'AGUDOS' 'PAULISTÂNIA' 'AMPARO' 'MONTE ALEGRE DO SUL'
 'ANDRADINA' 'CASTILHO' 'MURUTINGA DO SUL' 'NOVA INDEPENDÊNCIA' 'APIAÍ'
 'BARRA DO CHAPÉU' 'ITAOCA' 'RIBEIRA' 'ITAPIRAPUÃ PAULISTA' 'ARAÇATUBA'
 'BORÁ' 'LUTÉCIA' 'OSCAR BRESSANE' 'PARAGUAÇU PAULISTA' 'ARARAQUARA'
 'GAVIÃO PEIXOTO' 'NOVA EUROPA' 'ARARAS' 'ASSIS' 'ECHAPORÃ' 'ATIBAIA'
 'BOM JESUS DOS PERDÕES' 'JARINU' 'NAZARÉ PAULISTA' 'AVARÉ' 'BANANAL'
 'ARAPEÍ' 'SÃO JOSÉ DO BARREIRO' 'BARIRI' 'ITAJU' 'BARRETOS' 'COLÔMBIA'
 'BATATAIS' 'BAURU' 'PIRATININGA' 'BEBEDOURO' 'BIRIGUI' 'CLEMENTINA'
 'COROADOS' 'BREJO ALEGRE' 'SANTÓPOLIS DO AGUAPEÍ' 'BOTUCATU' 'ITATINGA'
 'PARDINHO' 'BRAGANÇA PAULISTA' 'BROTAS' 'TORRINHA' 'CAÇAPAVA' 'JAMBEIRO'
 'CACONDE' 'TAPIRATIBA' 'CAFELÂNDIA' 'GUARANTÃ' 'JÚLIO MESQUITA' 'CAJURU'
 'SANTA CRUZ DA ESPERANÇA' 'CÁSSIA DOS COQUEIROS' 'CAMPINAS' 'VALINHOS'
 'CAMPOS DO JORDÃO' 'CANANÉIA' 'CAPÃO BONITO' 'RIBEIRÃO GRANDE' 'GUAPIARA'
 'CAPIVARI' 'MOMBUCA' 'RAFARD' 'CASA BRANCA' 'ITOBI'
 'SANTA CRUZ DAS PALMEIRAS' 'CATANDUVA' 'ELISIÁRIO' 'ANHEMBI' 'BOFETE'
 'CONCHAS' 'PEREIRAS' 'CRUZEIRO' 'LAVRINHAS' 'QUELUZ' 'AREIAS' 'CUNHA'
 'DESCALVADO' 'FRANCA' 'ITIRAPUÃ' 'PATROCÍNIO PAULISTA'
 'ÁLVARO DE CARVALHO' 'ALVINLÂNDIA' 'GÁLIA' 'FERNÃO' 'GARÇA'
 'GUARATINGUETÁ' 'IACANGA' 'IBITINGA' 'TABATINGA' 'ARAMINA' 'BURITIZAL'
 'IGARAPAVA' 'IGUAPE' 'ILHA COMPRIDA' 'ITAPETININGA' 'ALAMBARI' 'SARAPUÍ'
 'BURI' 'ITABERÁ' 'ITAPEVA' 'NOVA CAMPINA' 'RIBEIRÃO BRANCO' 'TAQUARIVAÍ'
 'ITAPIRA' 'BORBOREMA' 'ITÁPOLIS' 'BARÃO DE ANTONINA' 'ITAPORANGA'
 'RIVERSUL' 'ITARARÉ' 'BOM SUCESSO DE ITARARÉ' 'ITATIBA' 'MORUNGABA'
 'CABREÚVA' 'ITU' 'ITUVERAVA' 'GUARÁ' 'JABOTICABAL' 'TAIAÇU' 'TAIÚVA'
 'JACAREÍ' 'JAÚ' 'ADOLFO' 'JOSÉ BONIFÁCIO' 'UBARANA' 'MENDONÇA' 'JUNDIAÍ'
 'ITUPEVA' 'LIMEIRA' 'LINS' 'LORENA' 'CANAS' 'PIQUETE' 'INÚBIA PAULISTA'
 'LUCÉLIA' 'PRACINHA' 'SALMOURÃO' 'MARÍLIA' 'INDIANA' 'MARTINÓPOLIS'
 'BÁLSAMO' 'JACI' 'MIRASSOL' 'MIRASSOLÂNDIA' 'NEVES PAULISTA' 'MOCOCA'
 'MOGI DAS CRUZES' 'ARTUR NOGUEIRA' 'ENGENHEIRO COELHO' 'CONCHAL'
 'MOGI MIRIM' 'HOLAMBRA' 'MONTE ALTO' 'PIRANGI' 'VISTA ALEGRE DO ALTO'
 'MACAUBAL' 'MONTE APRAZÍVEL' 'NIPOÃ' 'POLONI' 'SEBASTIANÓPOLIS DO SUL'
 'UNIÃO PAULISTA' 'ICÉM' 'NOVA GRANADA' 'ONDA VERDE' 'ITAJOBI' 'MARAPOAMA'
 'NOVO HORIZONTE' 'ALTAIR' 'GUARACI' 'OLÍMPIA' 'SEVERÍNIA' 'ORLÂNDIA'
 'NUPORANGA' 'SALES OLIVEIRA' 'OURINHOS' 'CAMPOS NOVOS PAULISTA'
 'IBIRAREMA' 'PALMITAL' 'PLATINA' 'NATIVIDADE DA SERRA' 'PARAIBUNA'
 'BORACÉIA' 'MACATUBA' 'PEDERNEIRAS' 'PENÁPOLIS' 'PEREIRA BARRETO'
 'SUZANÁPOLIS' 'SUD MENNUCCI' 'PIEDADE' 'PILAR DO SUL' 'TAPIRAÍ'
 'PINDAMONHANGABA' 'ESPÍRITO SANTO DO PINHAL' 'SANTO ANTÔNIO DO JARDIM'
 'JOANÓPOLIS' 'PIRACAIA' 'PIRACICABA' 'MANDURI' 'ÓLEO' 'PIRAJU' 'TEJUPÁ'
 'TIMBURI' 'BALBINOS' 'PIRAJUÍ' 'PONGAÍ' 'PRESIDENTE ALVES' 'REGINÓPOLIS'
 'URU' 'PIRASSUNUNGA' 'PITANGUEIRAS' 'TAQUARAL' 'VIRADOURO' 'POMPÉIA'
 'QUEIROZ' 'QUINTANA' 'PORTO FELIZ' 'PRESIDENTE PRUDENTE' 'CAIUÁ'
 'MARABÁ PAULISTA' 'PRESIDENTE VENCESLAU' 'PROMISSÃO' 'IEPÊ' 'NANTES'
 'RANCHARIA' 'QUATÁ' 'JOÃO RAMALHO' 'BOA ESPERANÇA DO SUL' 'TRABIJU'
 'DOURADO' 'RIBEIRÃO BONITO' 'RIBEIRÃO PRETO' 'SERRANA' 'SERRA AZUL'
 'RIO CLARO' 'ARIRANHA' 'PALMARES PAULISTA' 'SANTA ADÉLIA' 'PINDORAMA'
 'SALESÓPOLIS' 'SANTA BRANCA' 'BERNARDINO DE CAMPOS' 'IPAUSSU'
 'SANTA CRUZ DO RIO PARDO' 'ESPÍRITO SANTO DO TURVO' 'SÃO PEDRO DO TURVO'
 'IGARATÁ' 'SANTA ISABEL' 'SANTA RITA DO PASSA QUATRO' 'TAMBAÚ'
 'PIQUEROBI' 'SANTO ANASTÁCIO' 'RIBEIRÃO DOS ÍNDIOS' 'SANTOS' 'CUBATÃO'
 'SÃO CARLOS' 'ÁGUAS DA PRATA' 'SÃO JOÃO DA BOA VISTA' 'AGUAÍ' 'IPUÃ'
 'SÃO JOAQUIM DA BARRA' 'SÃO JOSÉ DO RIO PARDO' 'SÃO JOSÉ DO RIO PRETO'
 'BADY BASSITT' 'NOVA ALIANÇA' 'POTIRENDABA' 'SÃO JOSÉ DOS CAMPOS'
 'LAGOINHA' 'SÃO LUÍS DO PARAITINGA' 'REDENÇÃO DA SERRA' 'AREIÓPOLIS'
 'SÃO MANUEL' 'PRATÂNIA' 'ÁGUAS DE SÃO PEDRO' 'SANTA MARIA DA SERRA'
 'SÃO PEDRO' 'MAIRINQUE' 'ALUMÍNIO' 'SÃO ROQUE' 'ARAÇARIGUAMA' 'ILHABELA'
 'SÃO SEBASTIÃO' 'LUÍS ANTÔNIO' 'SÃO SIMÃO' 'SANTA ROSA DE VITERBO'
 'ÁGUAS DE LINDÓIA' 'LINDÓIA' 'SERRA NEGRA' 'BARRINHA' 'PONTAL'
 'SERTÃOZINHO' 'SOCORRO' 'PINHALZINHO' 'SOROCABA' 'AMÉRICO DE CAMPOS'
 'COSMORAMA' 'TANABI' 'CÂNDIDO RODRIGUES' 'FERNANDO PRESTES'
 'SANTA ERNESTINA' 'TAQUARITINGA' 'CAPELA DO ALTO' 'GUAREÍ' 'PORANGABA'
 'TORRE DE PEDRA' 'TATUÍ' 'TAUBATÉ' 'TIETÊ' 'JUMIRIM' 'LARANJAL PAULISTA'
 'TUPÃ' 'ARCO-ÍRIS' 'UBATUBA' 'CACHOEIRA PAULISTA' 'SILVEIRAS'
 'BENTO DE ABREU' 'VALPARAÍSO' 'LAVÍNIA' 'ÁLVARES FLORENCE'
 'VALENTIM GENTIL' 'PARISI' 'VOTUPORANGA' 'ELDORADO' 'IPORANGA' 'DRACENA'
 'OURO VERDE' 'FERNANDÓPOLIS' 'GUARARAPES' 'RUBIÁCEA' 'JALES' 'PONTALINDA'
 'DIRCE REIS' 'GUARAÇAÍ' 'MIRANDÓPOLIS' 'JERIQUARA' 'PEDREGULHO' 'RIFAINA'
 'SANTO ANDRÉ' 'ADAMANTINA' 'FLÓRIDA PAULISTA' 'MARIÁPOLIS' 'AMERICANA'
 'DUARTINA' 'LUCIANÓPOLIS' 'UBIRAJARA' 'CABRÁLIA PAULISTA'
 'LENÇÓIS PAULISTA' 'BOREBI' 'FLOREAL' 'GASTÃO VIDIGAL' 'MAGDA' 'MONÇÕES'
 'NHANDEARA' 'NOVA LUZITÂNIA' 'OSVALDO CRUZ' 'PARAPUÃ' 'SAGRES'
 'ORINDIÚVA' 'PAULO DE FARIA' 'RIOLÂNDIA' 'PRESIDENTE BERNARDES'
 'EMILIANÓPOLIS' 'MIRANTE DO PARANAPANEMA' 'SÃO CAETANO DO SUL' 'CAIABU'
 'REGENTE FEIJÓ' 'TACIBA' 'GUAÍRA' 'DOBRADA' 'MATÃO' 'MONTE AZUL PAULISTA'
 'PARAÍSO' 'EMBAÚBA' 'CAJOBI' 'REGISTRO' 'SETE BARRAS'
 'SÃO BERNARDO DO CAMPO' 'MONTE CASTELO' 'NOVA GUATAPORANGA' 'PANORAMA'
 'PAULICÉIA' 'SANTA MERCEDES' "SÃO JOÃO DO PAU D'ALHO" 'TUPI PAULISTA'
 'GUARULHOS' 'SÃO VICENTE' 'COLINA' 'JABORANDI' 'TERRA ROXA' 'CATIGUÁ'
 'IBIRÁ' 'TABAPUÃ' 'NOVAIS' 'OCAUÇU' 'ORIENTE' 'VERA CRUZ' 'LUPÉRCIO'
 'SUZANO' 'ALFREDO MARCONDES' 'ÁLVARES MACHADO' 'ANHUMAS' 'SANTO EXPEDITO'
 'RIBEIRÃO PIRES' 'BASTOS' 'HERCULÂNDIA' 'IACRI' "SANTA BÁRBARA D'OESTE"
 'RUBINÉIA' "SANTA CLARA D'OESTE" 'SANTA FÉ DO SUL'
 'SANTANA DA PONTE PENSA' "SANTA RITA D'OESTE" 'TRÊS FRONTEIRAS'
 'NOVA CANAÃ PAULISTA' 'LEME' 'SANTA CRUZ DA CONCEIÇÃO' 'ITANHAÉM'
 'MONGAGUÁ' 'APARECIDA' 'ROSEIRA' 'POTIM' 'IBIÚNA' 'CAIEIRAS'
 'FRANCO DA ROCHA' 'PORTO FERREIRA' 'PRESIDENTE EPITÁCIO' 'JUNQUEIRÓPOLIS'
 'FLORA RICA' 'PACAEMBU' 'IRAPURU' 'GUARIBA' 'PRADÓPOLIS' 'BARUERI'
 'BARRA BONITA' 'IGARAÇU DO TIETÊ' 'ITAPECERICA DA SERRA'
 'SÃO LOURENÇO DA SERRA' 'JUQUITIBA' 'ALTINÓPOLIS'
 'SANTO ANTÔNIO DA ALEGRIA' 'JARDINÓPOLIS' 'BRODOWSKI' 'CERQUEIRA CÉSAR'
 'ÁGUAS DE SANTA BÁRBARA' 'IARAS' 'CARAGUATATUBA' 'IRAPUÃ' 'SALES'
 'URUPÊS' 'MIGUELÓPOLIS' 'BILAC' 'GABRIEL MONTEIRO' 'PIACATU' 'RINÓPOLIS'
 'INDAIATUBA' 'GUARUJÁ' 'OSASCO' 'BURITAMA' 'PLANALTO' 'ZACARIAS'
 'TURIÚBA' 'LOURDES' 'ANGATUBA' 'CAMPINA DO MONTE ALEGRE' 'MOGI GUAÇU'
 'ESTIVA GERBI' 'MAUÁ' 'MIRACATU' 'POÁ' 'VOTORANTIM' 'SALTO' 'DIADEMA'
 'JUQUIÁ' 'CARDOSO' 'MIRA ESTRELA' 'PONTES GESTAL' 'PALESTINA' 'AURIFLAMA'
 'GUZOLÂNDIA' 'SÃO JOÃO DE IRACEMA' 'GENERAL SALGADO' 'NOVA CASTILHO'
 'CÂNDIDO MOTA' 'COTIA' 'BARRA DO TURVO' 'JACUPIRANGA' 'CAJATI'
 'PARIQUERA-AÇU' 'VARGEM GRANDE DO SUL' 'SÃO SEBASTIÃO DA GRAMA'
 'DIVINOLÂNDIA' 'SUMARÉ' "APARECIDA D'OESTE" 'MARINÓPOLIS'
 "PALMEIRA D'OESTE" 'SÃO FRANCISCO' 'DOLCINÓPOLIS' "ESTRELA D'OESTE"
 'POPULINA' 'SÃO JOÃO DAS DUAS PONTES' 'TURMALINA' 'VITÓRIA BRASIL'
 'FARTURA' 'TAGUAÍ' 'SARUTAIÁ' 'CORONEL MACEDO' 'TAQUARITUBA' 'MAIRIPORÃ'
 'AMÉRICO BRASILIENSE' 'RINCÃO' 'SANTA LÚCIA' 'MOTUCA' 'CRISTAIS PAULISTA'
 'RESTINGA' 'RIBEIRÃO CORRENTE' 'SÃO JOSÉ DA BELA VISTA' 'BOCAINA'
 'ITAPUÍ' 'MINEIROS DO TIETÊ' 'DOIS CÓRREGOS' 'VÁRZEA PAULISTA'
 'CORDEIRÓPOLIS' 'IRACEMÁPOLIS' 'SANTA GERTRUDES' 'CHARQUEADA'
 'RIO DAS PEDRAS' 'ANALÂNDIA' 'CORUMBATAÍ' 'IPEÚNA' 'ITIRAPINA']


______DS_CARGO_PERGUNTA_____
['Prefeito' 'Vereador']


______SG_PARTIDO_____
['#NULO#' 'PT' 'REDE' 'PSB' 'PSDB' 'PSL' 'PATRIOTA' 'REPUBLICANOS' 'PSOL'
 'PSD' 'NOVO' 'PMN' 'DEM' 'MDB' 'PP' 'PODE' 'PRTB' 'PROS' 'CIDADANIA'
 'PC do B' 'PV' 'PTB' 'PDT' 'PL' 'AVANTE' 'PSTU' 'PSC' 'PMB'
 'SOLIDARIEDADE' 'PTC' 'UP' 'DC' 'PCB' 'PCO']


______NM_PARTIDO_____
['#NULO#' 'Partido dos Trabalhadores' 'Rede Sustentabilidade'
 'Partido Socialista Brasileiro' 'Partido da Social Democracia Brasileira'
 'Partido Social Liberal' 'Patriota' 'REPUBLICANOS'
 'Partido Socialismo e Liberdade' 'Partido Social Democrático'
 'Partido Novo' 'Partido da Mobilização Nacional' 'Democratas'
 'Movimento Democrático Brasileiro' 'PROGRESSISTAS' 'Podemos'
 'Partido Renovador Trabalhista Brasileiro'
 'Partido Republicano da Ordem Social' 'Cidadania'
 'Partido Comunista do Brasil' 'Partido Verde'
 'Partido Trabalhista Brasileiro' 'Partido Democrático Trabalhista'
 'Partido Liberal' 'AVANTE'
 'Partido Socialista dos Trabalhadores Unificado' 'Partido Social Cristão'
 'Partido da Mulher Brasileira' 'Solidariedade'
 'Partido Trabalhista Cristão' 'Unidade Popular' 'Democracia Cristã'
 'Partido Comunista Brasileiro' 'Partido da Causa Operária']


______DT_BU_RECEBIDO_____
['15/11/2020 22:26:42' '15/11/2020 20:52:56' '15/11/2020 20:52:08' ...
 '16/11/2020 00:12:58' '15/11/2020 22:11:03' '15/11/2020 23:07:44']


______DS_TIPO_URNA_____
['APURADA']


______DS_TIPO_VOTAVEL_____
['Branco' 'Nominal' 'Nulo' 'Legenda']


______NM_VOTAVEL_____
['Branco' 'JILMAR TATTO' 'MARINA HELOU' ... 'SANDRA DO HOSPITAL'
 'LEILA NERES' 'PROFESSOR MUNHOZ']


______CD_CARGA_1_URNA_EFETIVADA_____
['432.454.548.163.181.015.' '755.686.970.595.452.959.'
 '886.999.217.408.538.007.' ... '998.011.036.600.830.581.'
 '866.798.014.587.581.776.' '048.516.308.005.341.526.']


______CD_FLASHCARD_URNA_EFETIVADA_____
['E0BA7264' '3075DFF0' 'C1D061B0' ... 'B1112A92' '304D2B07' '97441C17']


______DT_CARGA_URNA_EFETIVADA_____
['03/11/2020 11:19:00' '03/11/2020 11:27:00' '03/11/2020 11:35:00' ...
 '31/10/2020 16:34:00' '31/10/2020 16:42:00' '05/11/2020 08:13:00']


______DS_CARGO_PERGUNTA_SECAO_____
['11 - 1' '13 - 1' '11 - 2' ... '13 - 660' '11 - 662' '13 - 662']


______DS_AGREGADAS_____
['#NULO#' '100' '102' '104' '106' '108' '110' '112' '262' '264' '266'
 '268' '270' '272' '274' '276' '278' '280' '282' '284' '286' '288' '387'
 '303' '305' '307' '309' '311' '313' '316' '318' '320' '360' '323' '325'
 '327' '329' '366' '368' '381' '488' '418' '453' '83 / 96' '174' '149'
 '189' '176' '135' '132' '183' '98' '74 / 118' '75' '107' '254' '180' '15'
 '258' '239' '14' '20' '27' '238' '34' '29' '83' '89' '90' '84' '81' '88'
 '82' '79' '187' '234' '198' '4' '76' '22' '18' '227' '244' '263' '236'
 '405' '412' '384' '380' '379' '385' '395' '390' '389' '396' '51'
 '399 / 415' '164' '249' '301' '312' '269' '275' '422' '362' '367' '425'
 '103 / 143' '44' '46' '63' '128' '109' '111' '252' '220' '196' '290'
 '285' '66 / 113' '289' '386' '298' '328' '394' '361' '322' '392' '382'
 '242' '66' '294' '292' '229' '163' '162' '161' '160' '159' '158' '364'
 '45' '47' '49' '67' '68' '2' '6' '8' '11' '15 / 29 / 43' '42' '16' '21'
 '27 / 28' '38' '41' '33' '210' '202' '192' '195' '203' '197' '26' '24'
 '23' '43' '255' '77' '167' '221' '230' '114' '165' '30' '73' '94' '136'
 '118' '122' '119' '19' '25' '31' '53' '54' '55' '57' '35 / 36' '38 / 39'
 '41 / 42' '44 / 45' '300' '208' '209' '217' '5' '52' '61' '117' '116'
 '410' '411' '58' '60' '62' '64' '125' '417' '173 / 174' '178' '310' '225'
 '168' '176 / 293 / 396' '191' '260' '428' '427' '419' '334' '400' '391'
 '248' '278 / 397' '430' '431' '371' '429' '265' '463' '188' '17' '315'
 '44 / 47' '43 / 49' '314' '216' '45 / 48' '226' '233' '250' '291' '213'
 '281' '401' '346' '245' '319' '588' '609' '433' '462' '458' '123' '273'
 '127' '17 / 19' '31 / 32' '39' '35' '56' '59' '65' '71' '156' '80' '172'
 '171' '69' '181' '92' '179' '120' '140' '253' '358' '237' '254 / 296'
 '271' '337' '393' '66 / 143 / 179' '201' '200' '261' '86' '212' '302'
 '206' '257' '243' '304' '306' '303 / 305 / 307' '155' '101' '170'
 '74 / 112' '143' '215' '72' '142' '144' '33 / 133' '3' '40' '48' '50'
 '231' '376' '299' '378' '349' '383' '559' '388' '424' '479' '550' '549'
 '560' '563' '561' '562' '467' '7' '10' '37' '1 / 2 / 3 / 4' '5 / 6 / 9'
 '11 / 12 / 13 / 14' '7 / 15 / 16' '267' '404' '399' '403' '406' '93'
 '339' '32' '28' '28 / 134' '152' '186' '308' '404 / 409' '136 / 137'
 '154 / 328' '157' '218' '256' '174 / 193' '407' '265 / 319' '304 / 401'
 '365' '287' '377' '291 / 326' '331' '309 / 385' '333' '303 / 351 / 354'
 '357' '375 / 408' '235' '103' '151' '241' '436' '137' '141' '13' '9'
 '507' '12' '356' '489' '491' '530' '545' '571' '606' '628 / 629 / 630'
 '638 / 676' '706 / 713' '74' '105' '113' '154' '91' '330' '199' '124'
 '240' '166' '139' '95' '85' '146' '129' '97' '279' '1' '87' '44 / 96'
 '82 / 113' '99' '1 / 5' '6 / 7' '8 / 10' '11 / 55' '13 / 14' '15 / 16'
 '17 / 57' '20 / 21' '34 / 68' '35 / 76' '23 / 24 / 25' '73 / 74' '190'
 '185' '194' '134' '517' '519' '511' '505' '493' '503' '494 / 500'
 '491 / 501 / 518' '478' '473' '121' '496' '115' '184' '441' '466' '540'
 '544' '543' '534' '152 / 154' '59 / 158 / 160' '340' '347' '350' '96'
 '130' '546' '372' '147' '173' '228' '355' '293' '332' '336' '62 / 72'
 '69 / 70' '481' '497' '193' '59 / 64' '70' '36' '589' '633' '594' '663'
 '138' '78 / 80' '182' '175' '259' '247' '246' '126' '177']


______DT_ABERTURA_____
['15/11/2020 07:00:00' '15/11/2020 07:10:09' '15/11/2020 07:42:24' ...
 '15/11/2020 07:15:46' '15/11/2020 07:14:33' '15/11/2020 07:09:55']


______DT_ENCERRAMENTO_____
['15/11/2020 17:02:46' '15/11/2020 17:00:23' '15/11/2020 17:03:23' ...
 '15/11/2020 17:20:17' '15/11/2020 17:26:54' '15/11/2020 17:14:27']


______DT_EMISSAO_BU_____
['15/11/2020 17:04:06' '15/11/2020 17:01:25' '15/11/2020 17:04:40' ...
 '15/11/2020 17:13:08' '15/11/2020 17:39:06' '15/11/2020 17:14:56']

**Resumo**

No primeiro momento temos que resolver os seguintes problemas:



*   Temos 3 colunas com valores ausentes, precisamos analisar
*   As colunas data estão como object, precisa alterar para datetime
*   Temos colunas que tem #NULO#, acredito que sejam votos nulos. Irei alterar para voto nulo
*   Segundo o leia-me, um pdf sobre informações do dataset, o -1 é valor nulo preciso identificar e apurar
*   As colunas que tem somente um valor em todas as linhas serão descatadas

### 3.2 Dataset eleitorado

####3.2.1 Tamanho do dataset

In [13]:
df_eleitorado.shape

(4248507, 21)

####3.2.2 Análise de dados ausentes

In [14]:
df_eleitorado.isna().sum()

DT_GERACAO                    0
HH_GERACAO                    0
ANO_ELEICAO                   0
SG_UF                         0
CD_MUNICIPIO                  0
NM_MUNICIPIO                  0
CD_MUN_SIT_BIOMETRIA          0
DS_MUN_SIT_BIOMETRIA          0
NR_ZONA                       0
CD_GENERO                     0
DS_GENERO                     0
CD_ESTADO_CIVIL               0
DS_ESTADO_CIVIL               0
CD_FAIXA_ETARIA               0
DS_FAIXA_ETARIA               0
CD_GRAU_ESCOLARIDADE          0
DS_GRAU_ESCOLARIDADE          0
QT_ELEITORES_PERFIL           0
QT_ELEITORES_BIOMETRIA        0
QT_ELEITORES_DEFICIENCIA      0
QT_ELEITORES_INC_NM_SOCIAL    0
dtype: int64

####3.2.3 Analise dos valores únicos

In [15]:
df_eleitorado.nunique()

DT_GERACAO                       1
HH_GERACAO                       1
ANO_ELEICAO                      1
SG_UF                           26
CD_MUNICIPIO                  5569
NM_MUNICIPIO                  5296
CD_MUN_SIT_BIOMETRIA             1
DS_MUN_SIT_BIOMETRIA             1
NR_ZONA                        421
CD_GENERO                        3
DS_GENERO                        3
CD_ESTADO_CIVIL                  6
DS_ESTADO_CIVIL                  6
CD_FAIXA_ETARIA                 23
DS_FAIXA_ETARIA                 23
CD_GRAU_ESCOLARIDADE             9
DS_GRAU_ESCOLARIDADE             9
QT_ELEITORES_PERFIL           2953
QT_ELEITORES_BIOMETRIA        2658
QT_ELEITORES_DEFICIENCIA       173
QT_ELEITORES_INC_NM_SOCIAL       8
dtype: int64

####3.2.4  Informação do dataset

In [16]:
df_eleitorado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4248507 entries, 0 to 4248506
Data columns (total 21 columns):
 #   Column                      Dtype
---  ------                      -----
 0   DT_GERACAO                  object
 1   HH_GERACAO                  object
 2   ANO_ELEICAO                 int64
 3   SG_UF                       object
 4   CD_MUNICIPIO                int64
 5   NM_MUNICIPIO                object
 6   CD_MUN_SIT_BIOMETRIA        int64
 7   DS_MUN_SIT_BIOMETRIA        object
 8   NR_ZONA                     int64
 9   CD_GENERO                   int64
 10  DS_GENERO                   object
 11  CD_ESTADO_CIVIL             int64
 12  DS_ESTADO_CIVIL             object
 13  CD_FAIXA_ETARIA             int64
 14  DS_FAIXA_ETARIA             object
 15  CD_GRAU_ESCOLARIDADE        int64
 16  DS_GRAU_ESCOLARIDADE        object
 17  QT_ELEITORES_PERFIL         int64
 18  QT_ELEITORES_BIOMETRIA      int64
 19  QT_ELEITORES_DEFICIENCIA    int64
 20  QT_ELEITORES_INC_NM_SOCIAL  int64
dtypes: int64(12), object(9)
memory usage: 680.7+ MB

####3.2.5  Describe nos dados categóricos e numéricos

In [17]:
df_eleitorado_categoricas = df_eleitorado.select_dtypes(include=['object'])
df_eleitorado_categoricas.describe()

,DT_GERACAO,HH_GERACAO,SG_UF,NM_MUNICIPIO,DS_MUN_SIT_BIOMETRIA,DS_GENERO,DS_ESTADO_CIVIL,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE
count,4248507,4248507,4248507,4248507,4248507,4248507,4248507,4248507,4248507
unique,1,1,26,5296,1,3,6,23,9
top,01/08/2020,08:37:48,SP,SÃO PAULO,Sem biometria,FEMININO,SOLTEIRO,55 a 59 anos,ENSINO FUNDAMENTAL INCOMPLETO
freq,4248507,4248507,639502,66836,4248507,2230076,1371516,357322,728037

In [18]:
df_eleitorado_numericos = df_eleitorado.select_dtypes(exclude=['object'])
df_eleitorado_numericos.describe()

,ANO_ELEICAO,CD_MUNICIPIO,CD_MUN_SIT_BIOMETRIA,NR_ZONA,CD_GENERO,CD_ESTADO_CIVIL,CD_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
count,4248507.0,4.248507e+06,4248507.0,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06,4.248507e+06
mean,2020.0,5.185341e+04,0.0,9.923677e+01,3.039349e+00,3.877871e+00,5.279179e+03,4.243422e+00,3.481658e+01,2.767913e+01,2.726214e-01,2.350237e-03
std,0.0,2.838118e+04,0.0,9.135042e+01,1.019962e+00,2.837516e+00,2.105561e+03,2.219556e+00,1.211326e+02,9.975691e+01,1.695875e+00,5.319832e-02
min,2020.0,1.900000e+01,0.0,1.000000e+00,0.000000e+00,0.000000e+00,-3.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2020.0,2.605000e+04,0.0,3.100000e+01,2.000000e+00,1.000000e+00,3.539000e+03,2.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
50%,2020.0,5.502600e+04,0.0,7.000000e+01,4.000000e+00,3.000000e+00,5.054000e+03,4.000000e+00,5.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00
75%,2020.0,7.581700e+04,0.0,1.400000e+02,4.000000e+00,5.000000e+00,7.074000e+03,6.000000e+00,2.100000e+01,1.600000e+01,0.000000e+00,0.000000e+00
max,2020.0,9.907400e+04,0.0,4.270000e+02,4.000000e+00,9.000000e+00,9.999000e+03,8.000000e+00,6.438000e+03,6.437000e+03,3.830000e+02,7.000000e+00

####3.2.6  Analise detalhada dos valores únicos com menos de 30 valores únicos

In [19]:
#Seleciono os valores categóricos que estão abaixo de 30


for column_name2 in df_eleitorado_categoricas.columns:
    if (df_eleitorado_categoricas[column_name2].nunique()) < 30:
        unique_values2 = df_eleitorado_categoricas[column_name2].unique()
        print(f"______{column_name}_____")
        print(unique_values2)
        print("")
        print("")

______DT_EMISSAO_BU_____
['01/08/2020']


______DT_EMISSAO_BU_____
['08:37:48']


______DT_EMISSAO_BU_____
['SP' 'BA' 'MS' 'MG' 'PR' 'MA' 'GO' 'AL' 'MT' 'PB' 'TO' 'PA' 'PE' 'PI'
 'ES' 'CE' 'RJ' 'RS' 'SC' 'RO' 'RN' 'SE' 'RR' 'AC' 'AM' 'AP']


______DT_EMISSAO_BU_____
['Sem biometria']


______DT_EMISSAO_BU_____
['FEMININO' 'NÃO INFORMADO' 'MASCULINO']


______DT_EMISSAO_BU_____
['CASADO' 'VIÚVO' 'SEPARADO JUDICIALMENTE' 'DIVORCIADO' 'NÃO INFORMADO'
 'SOLTEIRO']


______DT_EMISSAO_BU_____
['70 a 74 anos                  ' '75 a 79 anos                  '
 '80 a 84 anos                  ' '85 a 89 anos                  '
 '90 a 94 anos                  ' '95 a 99 anos                  '
 '100 anos ou mais              ' '30 a 34 anos                  '
 '35 a 39 anos                  ' '40 a 44 anos                  '
 '45 a 49 anos                  ' '50 a 54 anos                  '
 '55 a 59 anos                  ' '60 a 64 anos                  '
 '65 a 69 anos                  ' '21 a 24 anos                  '
 '25 a 29 anos                  ' '16 anos                       '
 '17 anos                       ' '18 anos                       '
 '19 anos                       ' '20 anos                       '
 'Inválido                      ']


______DT_EMISSAO_BU_____
['ENSINO FUNDAMENTAL INCOMPLETO' 'ENSINO FUNDAMENTAL COMPLETO'
 'ENSINO MÉDIO INCOMPLETO' 'ENSINO MÉDIO COMPLETO' 'SUPERIOR COMPLETO'
 'ANALFABETO' 'LÊ E ESCREVE' 'SUPERIOR INCOMPLETO' 'NÃO INFORMADO']

**Resumo**

No primeiro momento temos que resolver os seguintes problemas:



*   As colunas que tem somente um valor em todas as linhas serão descatadas
*   As idades estão em 5 em 5 anos depois dos 20 anos, irei modificar e criar um novo padrão
*   A coluna estado cívil tem separado judicialmente e divorciado, irei juntar
*   Escolaridade tem linhas como Lê e escreve, irei jun tar com fundamenta

## 4. Análise exploratória dos dados

### 4.1 Dataset Resultado

#### 4.1.1 Converte as datas para datetime

In [20]:
colunas_selecionadas = ["DT_ENCERRAMENTO", "DT_ABERTURA", "DT_EMISSAO_BU", "DT_BU_RECEBIDO", "DT_CARGA_URNA_EFETIVADA"]
df_resultados_selecionado = df_resultados[colunas_selecionadas]

# Mostrar o DataFrame resultante
df_resultados_selecionado

,DT_ENCERRAMENTO,DT_ABERTURA,DT_EMISSAO_BU,DT_BU_RECEBIDO,DT_CARGA_URNA_EFETIVADA
0,15/11/2020 17:02:46,15/11/2020 07:00:00,15/11/2020 17:04:06,15/11/2020 22:26:42,03/11/2020 11:19:00
1,15/11/2020 17:02:46,15/11/2020 07:00:00,15/11/2020 17:04:06,15/11/2020 22:26:42,03/11/2020 11:19:00
2,15/11/2020 17:02:46,15/11/2020 07:00:00,15/11/2020 17:04:06,15/11/2020 22:26:42,03/11/2020 11:19:00
3,15/11/2020 17:02:46,15/11/2020 07:00:00,15/11/2020 17:04:06,15/11/2020 22:26:42,03/11/2020 11:19:00
4,15/11/2020 17:02:46,15/11/2020 07:00:00,15/11/2020 17:04:06,15/11/2020 22:26:42,03/11/2020 11:19:00
...,...,...,...,...,...
3779746,15/11/2020 17:04:09,15/11/2020 07:00:00,15/11/2020 17:05:44,15/11/2020 22:47:17,03/11/2020 15:38:00
3779747,15/11/2020 17:04:09,15/11/2020 07:00:00,15/11/2020 17:05:44,15/11/2020 22:47:17,03/11/2020 15:38:00
3779748,15/11/2020 17:04:09,15/11/2020 07:00:00,15/11/2020 17:05:44,15/11/2020 22:47:17,03/11/2020 15:38:00
3779749,15/11/2020 17:04:09,15/11/2020 07:00:00,15/11/2020 17:05:44,15/11/2020 22:47:17,03/11/2020 15:38:00
3779750,15/11/2020 17:04:09,15/11/2020 07:00:00,15/11/2020 17:05:44,15/11/2020 22:47:17,03/11/2020 15:38:00

In [21]:
for x in df_resultados[colunas_selecionadas]:
    df_resultados[x] = pd.to_datetime(df_resultados[x], format='%d/%m/%Y %H:%M:%S')
    df_resultados_selecionado = df_resultados[colunas_selecionadas]
df_resultados_selecionado

,DT_ENCERRAMENTO,DT_ABERTURA,DT_EMISSAO_BU,DT_BU_RECEBIDO,DT_CARGA_URNA_EFETIVADA
0,2020-11-15 17:02:46,2020-11-15 07:00:00,2020-11-15 17:04:06,2020-11-15 22:26:42,2020-11-03 11:19:00
1,2020-11-15 17:02:46,2020-11-15 07:00:00,2020-11-15 17:04:06,2020-11-15 22:26:42,2020-11-03 11:19:00
2,2020-11-15 17:02:46,2020-11-15 07:00:00,2020-11-15 17:04:06,2020-11-15 22:26:42,2020-11-03 11:19:00
3,2020-11-15 17:02:46,2020-11-15 07:00:00,2020-11-15 17:04:06,2020-11-15 22:26:42,2020-11-03 11:19:00
4,2020-11-15 17:02:46,2020-11-15 07:00:00,2020-11-15 17:04:06,2020-11-15 22:26:42,2020-11-03 11:19:00
...,...,...,...,...,...
3779746,2020-11-15 17:04:09,2020-11-15 07:00:00,2020-11-15 17:05:44,2020-11-15 22:47:17,2020-11-03 15:38:00
3779747,2020-11-15 17:04:09,2020-11-15 07:00:00,2020-11-15 17:05:44,2020-11-15 22:47:17,2020-11-03 15:38:00
3779748,2020-11-15 17:04:09,2020-11-15 07:00:00,2020-11-15 17:05:44,2020-11-15 22:47:17,2020-11-03 15:38:00
3779749,2020-11-15 17:04:09,2020-11-15 07:00:00,2020-11-15 17:05:44,2020-11-15 22:47:17,2020-11-03 15:38:00
3779750,2020-11-15 17:04:09,2020-11-15 07:00:00,2020-11-15 17:05:44,2020-11-15 22:47:17,2020-11-03 15:38:00

#### 4.1.2 Remoção das colunas que tem um único valor em todas as linhas

In [22]:
col_unique_value = ["DT_GERACAO",
                    "HH_GERACAO",
                    "ANO_ELEICAO",
                    "CD_TIPO_ELEICAO",
                    "CD_TIPO_ELEICAO",
                    "NM_TIPO_ELEICAO",
                    "CD_PLEITO",
                    "DT_PLEITO",
                    "NR_TURNO",
                    "CD_ELEICAO",
                    "DS_ELEICAO",
                    "SG_UF",
                    "CD_TIPO_URNA",
                    "DS_TIPO_URNA",
                    "QT_ELEITORES_BIOMETRIA_NH"]



df_col_unique_value = df_resultados[col_unique_value]

# Mostrar o DataFrame resultante
df_resultados = df_resultados.drop(columns=df_col_unique_value)
df_resultados.head()

,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,CD_CARGO_PERGUNTA,DS_CARGO_PERGUNTA,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,...,CD_CARGA_2_URNA_EFETIVADA,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,DT_EMISSAO_BU,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
0,71072,SÃO PAULO,1,1,1015,11,Prefeito,-1,#NULO#,#NULO#,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
1,71072,SÃO PAULO,1,1,1015,11,Prefeito,13,PT,Partido dos Trabalhadores,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
2,71072,SÃO PAULO,1,1,1015,11,Prefeito,18,REDE,Rede Sustentabilidade,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
3,71072,SÃO PAULO,1,1,1015,11,Prefeito,40,PSB,Partido Socialista Brasileiro,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
4,71072,SÃO PAULO,1,1,1015,11,Prefeito,45,PSDB,Partido da Social Democracia Brasileira,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,#NULO#,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1

#### 4.1.3 Correção nas colunas que tem "#NULO#"

In [23]:
for coluna in df_resultados.columns:
    df_resultados[coluna] = df_resultados[coluna].replace("#NULO#", "VOTO NULO")

#### 4.1.4 Identificação e tratamento dos valores ausente e -1(nulos)

In [24]:
def calcular_percentual(col):
    total_valores = len(col)
    menos_um = (col == -1).sum()
    nulos = col.isna().sum()
    percentual_nulos = (nulos / total_valores) * 100
    percentual_menos_um = (menos_um / total_valores) * 100
    return percentual_menos_um, percentual_nulos

# Aplico a função em cada coluna
percentuais = df_resultados.apply(calcular_percentual)

# Filtro colunas com percentuais diferentes de 0
colunas_diferentes_de_0 = percentuais.columns[percentuais.any() != 0]

# Mostro os percentuais de ocorrências para colunas diferentes de 0
print("Percentuais de ocorrências para colunas diferentes de 0:")
percentuais[colunas_diferentes_de_0]

Percentuais de ocorrências para colunas diferentes de 0:

,NR_PARTIDO,NM_VOTAVEL,DT_ABERTURA,DT_ENCERRAMENTO,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
0,3.973357,0.000000,0.000000,0.000000,99.996587,99.996587
1,0.000000,0.000344,0.003413,0.003413,0.000000,0.000000

As colunas Abertura e Encerramento têm uma quantidade muito baixa de valores nulos, então optei por preencher com o valores das linhas anteriores

In [25]:
# Preencher os valores nulos com os valores da linha anterior
df_resultados[["DT_ABERTURA", "DT_ENCERRAMENTO"]] = df_resultados[["DT_ABERTURA", "DT_ENCERRAMENTO"]].fillna(method='ffill')

# Mostrar o DataFrame com os valores preenchidos
df_resultados.head()

,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,CD_CARGO_PERGUNTA,DS_CARGO_PERGUNTA,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,...,CD_CARGA_2_URNA_EFETIVADA,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,DT_EMISSAO_BU,NR_JUNTA_APURADORA,NR_TURMA_APURADORA
0,71072,SÃO PAULO,1,1,1015,11,Prefeito,-1,VOTO NULO,VOTO NULO,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
1,71072,SÃO PAULO,1,1,1015,11,Prefeito,13,PT,Partido dos Trabalhadores,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
2,71072,SÃO PAULO,1,1,1015,11,Prefeito,18,REDE,Rede Sustentabilidade,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
3,71072,SÃO PAULO,1,1,1015,11,Prefeito,40,PSB,Partido Socialista Brasileiro,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1
4,71072,SÃO PAULO,1,1,1015,11,Prefeito,45,PSDB,Partido da Social Democracia Brasileira,...,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06,-1,-1

As colunas Juntas Apuradas e Turma apuradora estão com 99,99% com dados "#NULO" então estarei removendo essas colunas.

In [26]:
df_resultados = df_resultados.drop(columns=df_resultados[['NR_JUNTA_APURADORA', 'NR_TURMA_APURADORA']])
df_resultados.head(2)

,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,CD_CARGO_PERGUNTA,DS_CARGO_PERGUNTA,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,...,NR_URNA_EFETIVADA,CD_CARGA_1_URNA_EFETIVADA,CD_CARGA_2_URNA_EFETIVADA,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,DT_EMISSAO_BU
0,71072,SÃO PAULO,1,1,1015,11,Prefeito,-1,VOTO NULO,VOTO NULO,...,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
1,71072,SÃO PAULO,1,1,1015,11,Prefeito,13,PT,Partido dos Trabalhadores,...,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06

A coluna NR_partido que está com -1 são votos nulos, optei por manter por ser voto nulo

In [27]:
df_resultados[df_resultados["NR_PARTIDO"]==-1].head(5)

,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,CD_CARGO_PERGUNTA,DS_CARGO_PERGUNTA,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,...,NR_URNA_EFETIVADA,CD_CARGA_1_URNA_EFETIVADA,CD_CARGA_2_URNA_EFETIVADA,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,DT_EMISSAO_BU
0,71072,SÃO PAULO,1,1,1015,11,Prefeito,-1,VOTO NULO,VOTO NULO,...,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
7,71072,SÃO PAULO,1,1,1015,11,Prefeito,-1,VOTO NULO,VOTO NULO,...,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
28,71072,SÃO PAULO,1,1,1015,13,Vereador,-1,VOTO NULO,VOTO NULO,...,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,13 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
93,71072,SÃO PAULO,1,1,1015,13,Vereador,-1,VOTO NULO,VOTO NULO,...,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,13 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
137,71072,SÃO PAULO,1,2,1015,11,Prefeito,-1,VOTO NULO,VOTO NULO,...,1612828,755.686.970.595.452.959.,530.190,E0BA7264,2020-11-03 11:27:00,11 - 2,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:00:23,2020-11-15 17:01:25

Identifico quais linhas são NaN e depois busco preencher com o nome do mais votado do municipio e partido

In [28]:
df_resultados[df_resultados["NM_VOTAVEL"].isna()].iloc[:, :20]

,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,CD_CARGO_PERGUNTA,DS_CARGO_PERGUNTA,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,DT_BU_RECEBIDO,QT_APTOS,QT_COMPARECIMENTO,QT_ABSTENCOES,CD_TIPO_VOTAVEL,DS_TIPO_VOTAVEL,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS,NR_URNA_EFETIVADA
2851460,71897,TERRA ROXA,178,69,1015,13,Vereador,19,PODE,Podemos,2020-11-15 18:38:02,383,351,32,1,Nominal,19555,NaN,3,1806368
2851506,71897,TERRA ROXA,178,70,1015,13,Vereador,19,PODE,Podemos,2020-11-15 21:40:43,383,342,41,1,Nominal,19555,NaN,2,1806010
2851594,71897,TERRA ROXA,178,71,1015,13,Vereador,19,PODE,Podemos,2020-11-15 22:36:56,384,317,67,1,Nominal,19555,NaN,5,1794759
2851696,71897,TERRA ROXA,178,73,1015,13,Vereador,19,PODE,Podemos,2020-11-15 18:31:17,384,334,50,1,Nominal,19555,NaN,1,1796641
2851765,71897,TERRA ROXA,178,74,1015,13,Vereador,19,PODE,Podemos,2020-11-15 18:57:33,383,318,65,1,Nominal,19555,NaN,3,1796587
2851874,71897,TERRA ROXA,178,79,1023,13,Vereador,19,PODE,Podemos,2020-11-15 18:59:31,390,362,28,1,Nominal,19555,NaN,1,1803375
2851937,71897,TERRA ROXA,178,80,1023,13,Vereador,19,PODE,Podemos,2020-11-15 19:00:10,389,343,46,1,Nominal,19555,NaN,1,1803397
2851986,71897,TERRA ROXA,178,81,1023,13,Vereador,19,PODE,Podemos,2020-11-15 21:39:00,390,355,35,1,Nominal,19555,NaN,1,1803399
2852012,71897,TERRA ROXA,178,82,1023,13,Vereador,19,PODE,Podemos,2020-11-15 19:01:30,389,352,37,1,Nominal,19555,NaN,3,1796921
2852147,71897,TERRA ROXA,178,84,1040,13,Vereador,19,PODE,Podemos,2020-11-15 22:36:40,305,258,47,1,Nominal,19555,NaN,2,1802699
2852222,71897,TERRA ROXA,178,85,1040,13,Vereador,19,PODE,Podemos,2020-11-15 21:44:16,319,278,41,1,Nominal,19555,NaN,2,1804492
2852252,71897,TERRA ROXA,178,86,1040,13,Vereador,19,PODE,Podemos,2020-11-15 18:42:43,311,257,54,1,Nominal,19555,NaN,1,1806087
2852300,71897,TERRA ROXA,178,87,1040,13,Vereador,19,PODE,Podemos,2020-11-15 19:01:09,318,273,45,1,Nominal,19555,NaN,3,1806123

In [29]:
filtro = (df_resultados["NM_MUNICIPIO"] == "TERRA ROXA") & (df_resultados["SG_PARTIDO"] == "PODE")
resultados_filtrados = df_resultados[filtro]

resultados_filtrados.sort_values(by="QT_VOTOS", ascending= False ).iloc[:, :20]

,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,NR_SECAO,NR_LOCAL_VOTACAO,CD_CARGO_PERGUNTA,DS_CARGO_PERGUNTA,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,DT_BU_RECEBIDO,QT_APTOS,QT_COMPARECIMENTO,QT_ABSTENCOES,CD_TIPO_VOTAVEL,DS_TIPO_VOTAVEL,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS,NR_URNA_EFETIVADA
2852240,71897,TERRA ROXA,178,86,1040,13,Vereador,19,PODE,Podemos,2020-11-15 18:42:43,311,257,54,1,Nominal,19333,TUCA,24,1806087
2852167,71897,TERRA ROXA,178,84,1040,13,Vereador,19,PODE,Podemos,2020-11-15 22:36:40,305,258,47,1,Nominal,19333,TUCA,22,1802699
2852341,71897,TERRA ROXA,178,87,1040,13,Vereador,19,PODE,Podemos,2020-11-15 19:01:09,318,273,45,1,Nominal,19333,TUCA,16,1806123
2852197,71897,TERRA ROXA,178,85,1040,13,Vereador,19,PODE,Podemos,2020-11-15 21:44:16,319,278,41,1,Nominal,19333,TUCA,15,1804492
2851519,71897,TERRA ROXA,178,70,1015,13,Vereador,19,PODE,Podemos,2020-11-15 21:40:43,383,342,41,1,Nominal,19333,TUCA,13,1806010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2852182,71897,TERRA ROXA,178,85,1040,13,Vereador,19,PODE,Podemos,2020-11-15 21:44:16,319,278,41,1,Nominal,19123,ERICA ARANDA,1,1804492
2851712,71897,TERRA ROXA,178,73,1015,13,Vereador,19,PODE,Podemos,2020-11-15 18:31:17,384,334,50,1,Nominal,19100,LINDINHO EMPREITEIRO,1,1796641
2851696,71897,TERRA ROXA,178,73,1015,13,Vereador,19,PODE,Podemos,2020-11-15 18:31:17,384,334,50,1,Nominal,19555,NaN,1,1796641
2851680,71897,TERRA ROXA,178,73,1015,13,Vereador,19,PODE,Podemos,2020-11-15 18:31:17,384,334,50,1,Nominal,19123,ERICA ARANDA,1,1796641
2851435,71897,TERRA ROXA,178,69,1015,13,Vereador,19,PODE,Podemos,2020-11-15 18:38:02,383,351,32,1,Nominal,19200,LUAN,1,1806368

In [30]:
#Altero o NaN por TUCA
df_resultados['NM_VOTAVEL']  = df_resultados['NM_VOTAVEL'].fillna('TUCA')

In [31]:
# Aplico a função em cada coluna
percentuais = df_resultados.apply(calcular_percentual)

# Filtro colunas com percentuais diferentes de 0
colunas_diferentes_de_0 = percentuais.columns[percentuais.any() != 0]

# Mostro os percentuais de ocorrências para colunas diferentes de 0
print("Percentuais de ocorrências para colunas diferentes de 0:")
percentuais[colunas_diferentes_de_0]

Percentuais de ocorrências para colunas diferentes de 0:

   NR_PARTIDO
0    3.973357
1    0.000000

### 4.2 Dataset Eleitorado

#### 4.2.1 Remoção das colunas que tem um único valor em todas as linhas

In [32]:
#Seleciono as colunas que só tem um único valor
col_eleitorado_unique_value = ["DT_GERACAO",
                               "HH_GERACAO",
                               "ANO_ELEICAO",
                               "CD_MUN_SIT_BIOMETRIA",
                               "DS_MUN_SIT_BIOMETRIA" ]


df_eleit_unique_value = df_eleitorado[col_eleitorado_unique_value]

# Mostrar o DataFrame resultante
df_eleitorado = df_eleitorado.drop(columns=df_eleit_unique_value)
df_eleitorado.head(2)

,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,SP,70734,SÃO BENTO DO SAPUCAÍ,314,4,FEMININO,3,CASADO,7074,70 a 74 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,47,37,1,0
1,SP,70734,SÃO BENTO DO SAPUCAÍ,314,4,FEMININO,3,CASADO,7074,70 a 74 anos,4,ENSINO FUNDAMENTAL COMPLETO,5,4,0,0

#### 4.2.2 Criando um padrão para a coluna idade

In [33]:
mapeamento = {
    '70 a 74 anos                  ': '70+ anos',
    '75 a 79 anos                  ': '70+ anos',
    '80 a 84 anos                  ': '70+ anos',
    '85 a 89 anos                  ': '70+ anos',
    '90 a 94 anos                  ': '70+ anos',
    '95 a 99 anos                  ': '70+ anos',
    '100 anos ou mais              ': '70+ anos',
    '30 a 34 anos                  ': '30 a 39 anos',
    '35 a 39 anos                  ': '30 a 39 anos',
    '40 a 44 anos                  ': '40 a 49 anos',
    '45 a 49 anos                  ': '40 a 49 anos',
    '50 a 54 anos                  ': '50 a 59 anos',
    '55 a 59 anos                  ': '50 a 59 anos',
    '60 a 64 anos                  ': '60 a 69 anos',
    '65 a 69 anos                  ': '60 a 69 anos',
    '21 a 24 anos                  ': '21 a 29 anos',
    '25 a 29 anos                  ': '21 a 29 anos',
    '16 anos                       ': '16 a 20 anos',
    '17 anos                       ': '16 a 20 anos',
    '18 anos                       ': '16 a 20 anos',
    '19 anos                       ': '16 a 20 anos',
    '20 anos                       ': '16 a 20 anos',
    'Inválido                      ': 'Inválido'
}

# Aplicar o mapeamento para criar a nova coluna agregada
df_eleitorado['DS_FAIXA_ETARIA'] = df_eleitorado['DS_FAIXA_ETARIA'].map(mapeamento)
df_eleitorado.iloc[0:15].head()

,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,SP,70734,SÃO BENTO DO SAPUCAÍ,314,4,FEMININO,3,CASADO,7074,70+ anos,3,ENSINO FUNDAMENTAL INCOMPLETO,47,37,1,0
1,SP,70734,SÃO BENTO DO SAPUCAÍ,314,4,FEMININO,3,CASADO,7074,70+ anos,4,ENSINO FUNDAMENTAL COMPLETO,5,4,0,0
2,SP,70734,SÃO BENTO DO SAPUCAÍ,314,4,FEMININO,3,CASADO,7074,70+ anos,5,ENSINO MÉDIO INCOMPLETO,1,1,0,0
3,SP,70734,SÃO BENTO DO SAPUCAÍ,314,4,FEMININO,3,CASADO,7074,70+ anos,6,ENSINO MÉDIO COMPLETO,10,8,0,0
4,SP,70734,SÃO BENTO DO SAPUCAÍ,314,4,FEMININO,3,CASADO,7074,70+ anos,8,SUPERIOR COMPLETO,23,18,0,0

#### 4.2.3 Alteração das colunas escolaridade e estado cívil

In [34]:
# Substituir "LÊ E ESCREVE" por "ENSINO FUNDAMENTAL INCOMPLETO"
df_eleitorado['DS_GRAU_ESCOLARIDADE'] = df_eleitorado['DS_GRAU_ESCOLARIDADE'].replace("LÊ E ESCREVE", "ENSINO FUNDAMENTAL INCOMPLETO")

In [35]:
df_eleitorado['DS_ESTADO_CIVIL'] = df_eleitorado['DS_ESTADO_CIVIL'].replace("SEPARADO JUDICIALMENTE", "DIVORCIADO")

In [36]:
df_eleitorado['DS_GRAU_ESCOLARIDADE'].unique()

array(['ENSINO FUNDAMENTAL INCOMPLETO', 'ENSINO FUNDAMENTAL COMPLETO',
       'ENSINO MÉDIO INCOMPLETO', 'ENSINO MÉDIO COMPLETO',
       'SUPERIOR COMPLETO', 'ANALFABETO', 'SUPERIOR INCOMPLETO',
       'NÃO INFORMADO'], dtype=object)

In [37]:
df_eleitorado['DS_ESTADO_CIVIL'].unique()

array(['CASADO', 'VIÚVO', 'DIVORCIADO', 'NÃO INFORMADO', 'SOLTEIRO'],
      dtype=object)

## 5 Criação das Tabelas

### 5.1 Resultado

In [38]:
df_resultados.shape

(3779751, 29)

In [39]:
df_resultados.iloc[:,10:30].head()

,DT_BU_RECEBIDO,QT_APTOS,QT_COMPARECIMENTO,QT_ABSTENCOES,CD_TIPO_VOTAVEL,DS_TIPO_VOTAVEL,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS,NR_URNA_EFETIVADA,CD_CARGA_1_URNA_EFETIVADA,CD_CARGA_2_URNA_EFETIVADA,CD_FLASHCARD_URNA_EFETIVADA,DT_CARGA_URNA_EFETIVADA,DS_CARGO_PERGUNTA_SECAO,DS_AGREGADAS,DT_ABERTURA,DT_ENCERRAMENTO,DT_EMISSAO_BU
0,2020-11-15 22:26:42,386,241,145,2,Branco,95,Branco,5,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
1,2020-11-15 22:26:42,386,241,145,1,Nominal,13,JILMAR TATTO,4,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
2,2020-11-15 22:26:42,386,241,145,1,Nominal,18,MARINA HELOU,1,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
3,2020-11-15 22:26:42,386,241,145,1,Nominal,40,MÁRCIO FRANÇA,29,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06
4,2020-11-15 22:26:42,386,241,145,1,Nominal,45,BRUNO COVAS,111,1618073,432.454.548.163.181.015.,306.728,E0BA7264,2020-11-03 11:19:00,11 - 1,VOTO NULO,2020-11-15 07:00:00,2020-11-15 17:02:46,2020-11-15 17:04:06

In [ ]:
df_result = df_resultados[["NM_MUNICIPIO", "DS_CARGO_PERGUNTA", "SG_PARTIDO", "DS_TIPO_VOTAVEL", "QT_VOTOS"]]

In [ ]:
# Filtra o DataFrame para o estado de São Paulo
df_sp_eleitorado = df_eleitorado[df_eleitorado["SG_UF"] == "SP"]

# Agrupa por município e calcula a contagem
grouped_df_eleitorado = df_sp_eleitorado.groupby("NM_MUNICIPIO").size().reset_index(name="Quantidade")

# Exibe o DataFrame agrupado
grouped_df_eleitorado

           NM_MUNICIPIO  Quantidade
0            ADAMANTINA         929
1                ADOLFO         611
2                 AGUAÍ         851
3                AGUDOS         959
4              ALAMBARI         566
..                  ...         ...
640  ÁGUAS DE SÃO PEDRO         580
641    ÁLVARES FLORENCE         553
642     ÁLVARES MACHADO         863
643  ÁLVARO DE CARVALHO         529
644                ÓLEO         472

[645 rows x 2 columns]

In [ ]:
df_merged = pd.merge(df_result, df_agrupado_eleitorado, left_on="NM_MUNICIPIO", right_on="Municipio", how="inner")
df_merged

NameError: ignored

In [ ]:
df_merged[df_merged["Municipio"]=="SÃO PAULO"]["QT_VOTOS"].sum()

In [ ]:
# Selecionar uma coluna categórica
coluna_categorica = "DS_FAIXA_ETARIA"

# Calcular a contagem de ocorrências de cada valor na coluna categórica
contagem_por_valor = df_eleitorado[coluna_categorica].value_counts()

# Ordenar as faixas
faixas_ordenadas = ['70+ anos',
                    '60 a 69 anos',
                    '50 a 59 anos',
                    '40 a 49 anos',
                    '30 a 39 anos',
                    '21 a 29 anos',
                    '16 a 20 anos',
                    'Inválido']

contagem_ordenada = contagem_por_valor.reindex(faixas_ordenadas)

# Criar um DataFrame com os resultados ordenados
df_contagem = pd.DataFrame({'Valor': contagem_ordenada.index, 'Contagem': contagem_ordenada.values})

# Criar o gráfico de barras usando o Plotly Express
titulo = f'Quantidade de Eleitores por Faixa Etária'
fig = px.bar(df_contagem, x='Valor', y='Contagem', title=titulo)

# Personalizar o layout do gráfico
fig.update_layout(
    xaxis_title="Faixa Etária",
    yaxis_title="Contagem de Eleitores",
    xaxis=dict(categoryorder='array', categoryarray=faixas_ordenadas),  # Ordenar as categorias no eixo X
    yaxis=dict(type='linear')  # Definir o eixo Y como linear
)

# Mostrar o gráfico
fig.show()

In [ ]:
columns_list = df_eleitorado.select_dtypes(include='object').drop(columns = ['SG_UF','NM_MUNICIPIO']).head()

In [ ]:
# Contador
A = 0

for i in columns_list:
    A += 1

    # Contagem de valores para gráfico interativo
    df_contagem = pd.DataFrame({'Valor': df_eleitorado[i].value_counts().index, 'Contagem': df_eleitorado[i].value_counts().values})

    # Criar gráfico interativo com Plotly
    fig = px.bar(df_contagem, x='Valor', y='Contagem', title=i)

    # Remover a legenda dos eixos X e Y
    fig.update_layout(xaxis_title='', yaxis_title='')

    fig.show()